[2019-03-15 09:38] drgroovestarr commented on #56
@JBBgameich done, I also have some updated udev rules submitted for pull to https://github.com/Halium/lxc-android

[2019-03-15 12:44] jbruechert commented on #56
@drgroovestarr I requested one change to your PR, it's otherwise fine and can be merged.

[2019-03-17 06:09] rkssomayaji opened #126 "[device-port] [chef] Motorola One Power"
Tree: halium-7.1

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio

[2019-03-18 08:42] ghost commented on #109
Nothing new.Expect that there is a xda link and everything on it.it pops up pretty easily on google.All things are there.The device was ported by two people and neither of us cared to test any components.

[2019-03-18 09:06] echosalik commented on #92
My work is already on my profile, feel free to check it out.

[2019-03-19 02:15] phillipwalters commented on #56
I'm having some difficulty getting halium running on the 6p. I used @drgroovestarr's repos for the kernel and device directories, but I'm getting a boot loop. I checked the kernel log, and there's a kernel panic:

Kernel panic - not syncing: Attempted to kill init! exitcode=0x00000100

This is followed by a dump of some data from each CPU core.

[Full logs here.](https://gist.github.com/phillipwal

[2019-03-19 18:43] drgroovestarr commented on #56
@phillipwalters wish I could help out more. I was able to get it booting using the rootfs listed in the docs, however if I try to update by adding the newer halium repos (listed above) I too get a bootloop. It's great to see more people getting involved, maybe between your dump and mine (above) we can find the answer.

[2019-03-21 18:45] JulianGro commented on #36
Trying to run the halium-devices setup for this fails.
https://paste.ubuntu.com/p/6CjmKyFYKz/

[2019-03-21 21:58] Flohack74 commented on #56
@phillipwalters @drgroovestarr can you plz try my manifest, it should actually boot well:
[code]

[2019-03-21 22:18] drgroovestarr commented on #56
@Flohack74 are you using the rootfs listed in the docs? Just making sure. Im not in front of my PC, but will check this out later. I didn't have a problem booting with my repos, just updating to try and see if that would help to pass more of the tests as described.

[2019-03-22 07:55] Flohack74 commented on #56
@drgroovestarr I am using the Halium reference rootfs, yes.

[2019-03-26 15:18] emolution11 opened #127 "[device-port] [taimen] Google Pixel 2 XL"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-03-29 05:48] rico542 opened #128 "[device-port] [vegetalte] BQ Aquaris E5-4G"
Tree: halium-7.1

- [x] Create manifest (*)
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_au

[2019-03-29 06:08] jbruechert commented on #128
Please pull request your manifest to the https://github.com/halium/halium-devices repository. Your kernel configuration should be added to your fork of the kernel repository.

[2019-03-29 17:12] xkazumo commented on #116
i´m with you m8. if you need someone to test the rom message me!
my s6 zerofltexx is waiting ;D

[2019-03-29 23:02] Paktosan commented on #116
I am currently struggling with booting the rootfs, but I think I am close. Probably should upload my progress.

[2019-03-29 23:17] xkazumo commented on #116
If i can help just say it. Im running Debian on my PC, custom recovery on my phone etc.

[2019-03-29 23:37] phillipwalters commented on #56
@Flohack74 I'll be giving it a try now.

[2019-03-30 16:33] phillipwalters commented on #56
@Flohack74 That worked for me. I wiped userdata on the phone and used fastboot and adb from Android Studio rather than the Ubuntu repos. None of the tests seem to be working for me, though. Most of them throw a floating point exception. test_egl doesn't, but it seg faults.

[2019-04-02 11:54] Flohack74 commented on #56
@phillipwalters yes thats clear if it is a mismatch between 32 and 64 bits. The Halium reference rootfs is only 32 bit capable it seems. You would have to use arm64 build of UT for example.

[2019-04-02 16:33] phillipwalters commented on #56
We should be able to recompile the tests to 32 bits, right?

[2019-04-02 19:28] Flohack74 commented on #56
Its not the tests alone, its the whole libhybris thingie. I have little insights whats missing, please bring this up in the Halium channel.

[2019-04-02 19:38] himanshu793 commented on #90
what is status....... still on?

[2019-04-02 22:42] SRIDHARDV commented on #90
Porting is still ongoing, some issues like apparmor, camera, sounds on call needs fix.
If you interested you can also contribute...

[2019-04-07 22:57] tshering1980 opened #129 "[device-port] [kiwi] Huawei Honor 5X"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-04-10 11:24] nanu-c opened #130 "[device-port] [sanders] Motorola Moto G5s Plus"
Tree: halium-7.1

- [x] Create manifest https://github.com/Halium/halium-devices/pull/151
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [x] test_vibrator
  * [x]

[2019-04-10 22:34] Flohack74 commented on #56
I have now somewhat started to try Ubuntu Touch rootfs. However, currently I cannot get out of Halium rescue boot due to the following error probably:
[code]
This is new for me on Halium. @bhush9 whats the thing with the console= again? My bootloader forces console=NULL

[2019-04-12 23:08] Flohack74 commented on #56
@All: whoever is trying to port Nexus 6P should keep in mind that it was affected by a sever hardware bug with the second set of CPUs on the SoC. It is advisable to set **boot_cpus=0-3 maxcpus=4** in the kernel command line to switch off potential faulty cores.
This affects also Nexus 5X btw.
Meanwhile my reference rootfs looks better. I can run a few tests but the LXC wont start. It complains abo

[2019-04-14 16:54] adcomp commented on #116
Waiting too .. already tried to do it myself but I'm stuck at "breakfast". I suspect something wrong with my  manifest.

[2019-04-16 14:28] Flohack74 commented on #30
@ablepineapple Plasma Mobile and Ubuntu Touch are not creating ZIPs to be flashed. They are not Android. You will get a few files to be installed with an installer script.
@Lyokanthrope I am working now on Nexus 6P, do you think we can share a few experiences? I got a show stopper in the lxc container that prevents it from starting.

[2019-04-17 01:04] TuxThePenguin0 opened #131 "[device-port] [axon7] ZTE Axon 7"
Tree: halium-7.1

- [x] Create manifest (has been pulled into repo)
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash (Only in UT rootfs)
- [ ] libhybris tests
  * [x] test_gps (Only in UT rootfs)
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [x] test

[2019-04-17 02:44] TuxThePenguin0 commented on #131
Oh actually I forgot that I did modify the kernel configuration, once I find the time I will change the configuration to use my own kernel repo, please do not accept this pull request yet

[2019-04-17 03:55] TuxThePenguin0 commented on #131
Ok I have updated the kernel configuration in my own repo and modified the manifest to use my kernel repo, it *should* be good to go now

[2019-04-17 04:26] TuxThePenguin0 commented on #131
I'll make a pull request to add the fixup mountpoints for the Axon 7 soon

[2019-04-19 08:08] TuxThePenguin0 commented on #131
Don't worry this port isn't abandoned or anything, it may even boot, I don't know, I have just been away from home for the last few days, and unable to do any work on it, I will continue work in a day or two

[2019-04-20 14:30] TuxThePenguin0 commented on #131
I am unsure how to solve this kernel panic issue, I have tried to contact people on the Halium Telegraph server but have gotten no response yet
https://gist.github.com/TuxThePenguin0/3a549c031a7b168888b13bfea84232d4
Any help would be greatly appreciated

[2019-04-20 18:07] Sammaya commented on #95
So......tath possible to install this now ?

[2019-04-21 14:35] TuxThePenguin0 commented on #131
Sorry for the relatively frequent pull requests, this device is a very tricky port due to the stock Lineage OS kernel for it not booting at all for unknown reasons

[2019-04-22 08:19] TuxThePenguin0 commented on #131
These are two more pull requests for things that I probably should have done at the start
https://github.com/Halium/hybris-boot/pull/76
https://github.com/Halium/halium-devices/pull/154

[2019-04-22 23:56] TuxThePenguin0 commented on #131
First major milestone! I got the device to boot into recovery, however this does not get me much further since I had to use an unmodified kernel to get it to boot at all

[2019-04-23 00:02] TuxThePenguin0 commented on #131
The device is booting into recovery!

[2019-04-24 16:59] gautam142857 commented on #114
Would the steps be same for a Samsung Galaxy s3. I have one which I can use and we can collaborate.

[2019-04-26 03:44] TuxThePenguin0 commented on #131
I am having some trouble getting the LXC containers running but some other people who are way smarter than me are having similar issues on different devices so we are trying to find a fix

[2019-04-26 18:24] ghost commented on #122
I'm not sure if you've had any luck, but I was able to get both the hybris-boot and system images built, but have run into some issues getting them installed because of the slots

[2019-04-28 10:12] sy-per commented on #71
The port for redmi 5 (rosy) is finished?

[2019-04-29 06:13] Herrie82 commented on #71
@sy-per Yes we have Rosy working with LuneOS, since we're using the same kernel as Halium, Halium and other distros should be straightforward.

[2019-05-01 14:38] impreza233 commented on #97
I have written a new defconfig with the support of Stefano Melchior and his porting of Aquaris U Plus.

[defconfig surnia v1.txt](https://github.com/Halium/projectmanagement/files/3134807/defconfig.surnia.v1.txt)

[2019-05-03 01:22] Qiangong2 commented on #28
Is there any update on the port?

Is there a chance it gets added as an official ubports device?

[2019-05-03 19:04] Qiangong2 commented on #62
Due to the fact that the S4 uses a 3.4 kernel, I am unsure if it is able to run Halium anymore. If anyone can confirm that would great. That I think is why it hasn't boot since November 2017

[2019-05-04 06:53] SourceDiver42 commented on #71
I've got a somewhat booting port of UT for this device but I'm also having problems with the wlan module. Apparmor has to be deactivated for debugging purposes and many programs like the camera app throw a syscall 389berror and I'm too dumb to find out how to add a syscall to the arm side of the kernel.

[2019-05-04 09:18] gaab0r commented on #76
Any updates?

[2019-05-04 15:11] sy-per commented on #71
How to get the port? there is a git with everything?

[2019-05-05 14:16] mathieujobin commented on #71
Who do I need to bribe to get Plasma on a Redmi 7 ?

[2019-05-06 11:17] Vince1171 commented on #76
@azyrus66 sound have been fixed, 2/3/4G too
Camera, calls and Bluetooth still need to be fixed

[2019-05-16 22:06] Qiangong2 commented on #62
I got it working! Plasma now boots again :D Thanks Herrie! Now to iron out the kinks and then try ubports

[2019-05-17 11:15] alefnode commented on #122
I found a problem when make mka hybris-boot

Anyone else with this error?

[2019-05-17 12:32] alefnode commented on #122
Some tips:
sudo apt install libssl-dev

Comment line 113 from ./kernel/essential/msm8998/drivers/staging/Kconfig

[2019-05-17 13:15] ghost commented on #122
Yeah there are definitely a couple weird little things about the build. With those two tips, were you able to finish the hybris-boot build?

[2019-05-17 14:00] alefnode commented on #122
Yeah "mka hybris-boot" works with that tips, now i'm stacked on "mka systemimage" with this error:

[2019-05-17 15:10] alefnode commented on #122
Modify file: build/target/product/verity.mk
Set PRODUCT_SUPPORTS_VERITY := false
And delete verity_key from PRODUCT_PACKAGES

[2019-05-17 17:30] alefnode commented on #122
It works! you can use my last tips to compile halium on essential phone

[2019-05-22 06:31] alefnode commented on #122
Ok, after flashing hybris-boot and system.img i've got a bootloop, y tried to debug it but i can't

[2019-05-22 10:11] vinodmadhu6 commented on #113
Can I get a detailed instruction on how to port. Noob here!!

[2019-05-24 08:59] alefnode commented on #122
https://paste.ubuntu.com/p/VSH3dKhgzd/

[2019-05-26 08:16] ghost opened #132 "[device-port][Jasmine]Xiaomi Mi A2"
Requesting port for Xiaomi Mi A2

[2019-05-27 13:06] kcxt opened #133 "[device-port] [eva] Huawei P9"
Tree:

- [X] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-05-27 18:44] YamiYukiSenpai commented on #44
When I ran `./fixup-mountpoints suzuran`, I'm getting this:

[code]
What did you change to make it work?

Edit: I would check my phone, but it's currently disassembled

Edit 2: **It's solved.**  I forgot to add the 2nd argument

[2019-05-27 20:13] cibersheep commented on #128
Hi! I have recently bought a vegetalte to try to install Ubuntu Touch on it.
May I offer myself to test / help with the port of Halium?

[2019-05-28 03:32] rico542 commented on #128
Yes !!
Of course you can 👍 (glad to see i'm not alone).
I spent the last 4 weeks trying to adapt lineageOS 16 but i have a Kernel issue.
But :
I had a good result on Halium by switching to cyanogen/msm8916-common (cm-14.1)
Just let me check and update the repo.
I'll write you back before saturday.

Rico

[2019-05-28 09:42] cibersheep commented on #128
I'm glad you started the port as I have never done anything similar.
I was looking last days for LineageOS image and it looks not supported anymore. The microG project has an image and it's indeed based on Lineage 14.1 (cm-14.1) that seems to be the last working image that I know.
Long story short: Do not rush but feel free to ping me (also on Telegram @cibersheep if you like :) )

[2019-05-29 17:07] YamiYukiSenpai commented on #62
How do you fix this?  I tried following [this section in documented errors](http://docs.halium.org/en/latest/porting/common-system-build-errors.html#hybris-boot-part-and-hybris-data-part),  but it didn't help, and it seems to be a bit different from what I'm getting.

[code]

[2019-05-29 17:15] Qiangong2 commented on #62
@YamiYukiSenpai the fstab files should say the exact same as the fixup mountpoints. It looks like you have two differing ones in your tree. Check out my jf-common tree and the jfltetmo portion of fixup-mountpoints

[2019-05-29 18:03] krshnn opened #134 "[device-port] [X6] Nokia 6.1 Plus"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-05-29 19:46] YamiYukiSenpai commented on #62
I ran `fixup-mountpoints` just before I ran `mka mkbootimg`.  Double checked them all to make sure every partition entry in `<src>` column was changed.  I also tried copying jfltetmo's entry in fixup-mountpoint, but that didn't help either.

[2019-05-29 20:15] Qiangong2 commented on #62
And you're positive that what is listed in fstab.qcom and twrp.fstab are the same as what is in fixup-mountpoints?

[2019-05-30 01:57] YamiYukiSenpai commented on #62
yes

[2019-05-30 12:24] lnjX commented on #132
You can't request a port here. Either do it yourself or ask someone who owns a device.

[2019-05-30 12:24] #132 closed, assigned to nobody

[2019-05-31 02:54] YamiYukiSenpai commented on #44
I'm having trouble connecting via SSH.  `ip  link set` didn't work, so I tried with Netplan.  While my PC was able to ping my phone, SSH won't set up.

~~Just wanna clarify, the `<devicename>`  referred [here](http://docs.halium.org/en/latest/porting/debug-build/logging-in.html) is the name of the interface, right?~~
Before I rebooted, in `adb shell`, after I used chroot, I tried changing the pass

[2019-05-31 12:32] mauricioduarte01 commented on #98
Can't wait to try this. I am looking to buy a new phone and I think this is the best candidate. Thank you for the hard work!

[2019-05-31 13:21] Vince1171 commented on #45
Hi, I'm trying to compile halium/hybris for the Oneplus 5. But it seems that the current repo is uncompilable....  in my case, I have a lot of clang errors, due to a non-findable clang binary and an unknown error "-Wno-vectorizer-no-neon"...
any idea? I have tried with the repo from Lineage, and there are no compilation errors but it doesn't boot.
Has anyone manage to boot halium on the OP5 with t

[2019-05-31 13:30] Stefano0101 commented on #45
I have built the halium and system.img successfully, but upon installing the lxc was bootlooping just like Op3t. I used Lineage repo as well, but that was it.

[2019-05-31 14:26] IGNNE commented on #44
You can ping the phone? What does ssh do, just hang? If yes, try this:
https://github.com/ubports/ubuntu-touch/issues/560
By the way, this is the porting-faq I mentioned.
https://pad.ubports.com/p/porting-faq

[2019-05-31 15:24] Vince1171 commented on #45
Do you still have your repos somewhere? or the changes you made into?
My port currently don't boot at all, and don't provide any usb tethering ether...

[2019-05-31 15:27] Stefano0101 commented on #45
no, sorry @Vince1171 I don't have it anymore, nor built images/halium.

[2019-06-03 02:29] YamiYukiSenpai commented on #44
Were you able to change the password `root`'s  password?  I'm always getting `passwd: Authentication token manipulation error`

Edit: reflashing and not `chroot`ing solved it.

Edit 2: are you getting this glitch where your scopes kept on looping?

Edit 3: did you ever get WiFi to work?

[2019-06-04 02:55] ab1jx commented on #97
Interesting, what model exactly?  I have 3 of XT1527, which is a 2015 (I think) LTE but there were a few of them.  More into Debian than Ubuntu but I'm tempted to try it.

[2019-06-04 07:35] impreza233 commented on #97
I have the XT1524, but it should work on XT1526 and XT1527. Don't hesitate
to try on your Debian machine, because Ubuntu and Debian share a lot of
packages.

El mar., 4 jun. 2019 4:55, ab1jx <notifications@github.com> escribió:

[2019-06-04 09:08] IGNNE commented on #44
I did not change the root pw, I only used phablet and sudo.
I have not played with Halium since, but wifi did clearly work with Plasma Mobile and the Halium reference rootfs. My best guess would be either some CAF things missing in Ubports or a permission issue (Apparmor).

[2019-06-04 18:45] ab1jx commented on #97
A couple questions: The https://docs.halium.org/en/latest/porting/first-steps.html page says you need 16 GB of storage (the phone has 8) but can an external SD card be used as part of that?  Android's picky about what can go on the SD, without good reasons I think.

This seems to be mostly set up for building under amd64 and i386 but I mostly use Raspberry Pis which are already armhf, do I still n

[2019-06-04 19:50] impreza233 commented on #97
I have had success building it on an X86-64 machine with Halium official
instructions. And, also, the Halium porting + UBPorts rootfs fits in the
/data partition without any hitch (less than 4 GB of space used in that
partition).

El mar., 4 jun. 2019 20:45, ab1jx <notifications@github.com> escribió:

[2019-06-05 17:32] ab1jx commented on #97
Oh, OK, just found your XDA post at https://forum.xda-developers.com/moto-e-2015/development/wip-advances-porting-halium-ubuntu-t3848408

Usually "no route to host" means you need to set up a gateway like
route add default gw somehost
somehost can also be an IP I think. You should only have to do it once, it
gets saved in the routing table. See man route

Usually the phone will send out a DHCP req

[2019-06-05 19:55] impreza233 commented on #97
Yes, it's a scratchpad where I post some images and I do some testing with
users. If you need, don't hesitate to say me something ;)

El mié., 5 jun. 2019 19:32, ab1jx <notifications@github.com> escribió:

[2019-06-06 14:11] peat-psuwit opened #135 "[device-port] [FP2] Fairphone 2"
(This superseded #10)

Tree: halium-7.1

Initial bringup
----------------
- [x] ~~Create~~ Update manifest: Halium/halium-devices#160
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [x] test_hwcomposer
  * [x

[2019-06-06 14:12] peat-psuwit commented on #10
Superseded by #135.

[2019-06-06 14:12] #10 closed

[2019-06-06 14:21] peat-psuwit commented on #135
Current status: LXC container fails to start with a strange `Unable to handle kernel NULL pointer dereference at virtual address 00000000` from `proc_ns_follow_link`

<details>
<summary>Kernel oops</summary>
<pre>
[   49.714240] Unable to handle kernel NULL pointer dereference at virtual address 00000000
[   49.714361] pgd = f482c000
[   49.714422] [00000000] *pgd=00000000

[   49.714487] Internal

[2019-06-07 12:55] peat-psuwit commented on #135
Turns out stub PID namespace procfs implementation cherry-picked from https://github.com/Halium/android_kernel_lge_hammerhead/commit/bd221854de33b75db7a7fa01cb34274b62a7cbf8 is not up-to-date with the rest of the kernel. For the sake of completeness, I decided to cherry-pick commits that actually implement it into our tree. With another config change, the LXC container now starts.

[2019-06-10 02:11] slimjimsoftware opened #136 "[device port] [gtaxlwifi] port to Samsung Galaxy Tab A6 2016 (Wifi Only version)"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-06-11 07:35] Gorbulya commented on #25
How is it going? Did something happen or was your job terminated?

[2019-06-11 07:58] jbruechert commented on #25
This issue wasn't updated, but later debian was used on the device instead of KDE Neon.
You can find the i386 rootfs here: https://archive.kaidan.im/debian-pm/images/halium/plasma-mobile/

[2019-06-11 08:40] Gorbulya commented on #25
Have a video review?

[2019-06-11 09:22] swanux commented on #84
Where are the boot and system images?

[2019-06-11 09:25] Gorbulya commented on #25
How much do you rate usability?

[2019-06-11 19:42] IlyaBizyaev commented on #25
Don't expect much of this port, it was done just to get Plasma Mobile running. It is nowhere near a daily driver, and as the device is old now (mine has some hardware problems), I am unlikely to invest much more time into it.

[2019-06-11 21:40] Gorbulya commented on #25
I am understand, thanks. Do you think ubuntu mobile have a perspective?

[2019-06-14 18:26] alanifotis commented on #48
@zeropointenergy
Hello guys
I am interested on achieving this port on our device
Me and my friends are practically noobs when it comes to coding. The only coding we have ever done is some lines of css for a website we build.
We both have a ton experience when it comes to flashing and trying different roms (i have tried almost every rom available on xda for our device)
With that in mind is somethin

[2019-06-14 22:23] enesutku07 opened #137 "[device-port] [d802] lge g2"
Tree:

- [x] Create manifest

- [] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [] LXC container starts and does not crash
- [] libhybris tests
  * [x] test_gps
  * [] test_hwcomposer
  * [] test_lights
  * [] test_vibrator
  * [] test_wifi
  * [x] test_sensors
  * [x] test_audio
  * [ ] test_came

[2019-06-15 21:36] DrNohWon commented on #127
I am currently trying to port to the Pixel(Sailfish)

[2019-06-16 16:31] Maxr1998 commented on #122
The reboot/bootloop seems to be because of dm-verity, did you try to disable that? Afaik you have to remove the `verify` mount option inside the fstab.

[2019-06-16 21:31] alexpseletr opened #138 "[device port] port to ASUS Zenfone max pro m1"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-06-16 21:33] alexpseletr opened #139 "[device port] port to ASUS Zenfone live l1"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-06-17 09:04] ZeroPointEnergy commented on #48
Hello @alanifotis
Be aware that the port as mentioned above was never completed. You will have to build the images for yourself, there is no release available. The manifest is located in the halium-devices project here: https://github.com/Halium/halium-devices/blob/halium-7.1/manifests/samsung_herolte.xml

As mentioned, pulseaudio was constantly crashing so calls are not working and there are mult

[2019-06-19 14:12] Wieke commented on #79
Tree: halium-7.1

- [x] [Create manifest](https://github.com/Halium/halium-devices/pull/163)
- [X] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [ ] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [

[2019-06-19 14:24] jbruechert commented on #79
this branch is outdated and already replaced by changes in the master branch. If the master branch works for you as well, please remove any reference to this old branch in the documentation.

[2019-06-19 15:30] Wieke commented on #79
The master branch wasn't working for me. It just stops when trying to unmount the image because there's nothing mounted.

EDIT: The master branch seems to work now, I'll remove the reference. I suspect this is because I installed some missing dependencies when messing around with the udp branch made it. (The udp branch's output made it clear to me I was missing something.)

EDIT: Rebuild with thes

[2019-06-23 10:41] gauravmanmode opened #140 "port ahlum"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-06-25 11:15] cheshirean commented on #63
Hello! I am having problems installing UT on my device. Using the prebuild images, I followed the instructions from here - https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild/
As a result, after a reboot, I get a screen with the words "charging ?? / 100" and that's it. There is no telnet, no ssh ... What am I doing wrong?

[2019-06-25 13:09] Vince1171 commented on #63
@Cheshirean  you are on charging mode (your phone is off and charging)
so you just have to power it up.
And I suggest you to use the v0.6 as I fixed the "charging ??/100". Now there is a proper charging animation

[2019-06-26 07:50] cheshirean commented on #63
It's strange, I just made a "reset" of the fastboot before this ...
Nevertheless, the question remains the same. Trying yesterday again, I get either the same message or a hanging OnePlus logo. And I also do not have access to the device either on the ssh or telnet...

[2019-06-30 12:15] minlexx commented on #96
Audio and sensors marked as working.

Also nasty infinite recursion bug in kernel was fixed after my complaints in https://github.com/LineageOS/android_kernel_samsung_msm8974/commit/64a824fabec531f414a92241882668feef10aeb1  (see also https://gitlab.com/postmarketOS/pmaports/issues/274#note_179827141 ). If that was the problem for running elogind, maybe that was also the problem for systemd, too. B

[2019-07-01 08:18] EEMuk opened #141 "santoni"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-07-01 18:21] hagdervriese opened #142 "[device-port] [athene] Motorola G4 XT1622"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-07-02 02:24] xonq commented on #122
keep getting this when running mka halium-boot for each of the dependencies in fixdep.c

`fatal error: unistd.h: No such file or directory`

[2019-07-02 03:47] xonq commented on #122
fixed with

'sudo apt install libc6-dev'

[2019-07-02 04:24] xonq commented on #122
New error on system image. Got hybris-boot fine.

`[  0% 7/20168] Building Kernel Config
make: Entering directory '/home/xaq/Desktop/halium/kernel/essential/msm8998'
make[1]: Entering directory '/home/xaq/Desktop/halium/out/target/product/mata/obj/KERNEL_OBJ'
  GEN     ./Makefile
warning: (SND_SOC_WCD934X) selects SND_SOC_WCD_SPI which has unmet direct dependencies (SOUND && !M68K && !UML && SND &

[2019-07-02 14:01] akatsukilevi commented on #67
Hey @Lyudmila17 i know that's a old thread but do you still have the build? I'm interested on test it
Also, does the fingerprint sensor works?(or at least identifies as a button?)

[2019-07-03 19:15] mardy opened #143 "[device-port] [j3xlte] Samsung J3 (SM-J320F)"
Tree: halium-7.1

- [X] Create [manifest](https://github.com/Halium/halium-devices/pull/164)
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [

[2019-07-03 19:49] mardy commented on #143
At the moment I'm stuck with this error during `mka systemimage`:

[code]

[2019-07-04 16:51] Vince1171 commented on #63
there was an error in my docs
the link to the rootfs was pointing to the edge rootfs (which is broken on OP3(t) )
this is link to the correct rootfs
https://ci.ubports.com/job/xenial-rootfs-armhf/lastSuccessfulBuild/artifact/out/ubports-touch.rootfs-xenial-armhf.tar.gz

[2019-07-04 19:17] xonq commented on #122
Will this manifest work - it's based on the 16.0 dependencies. If you look at invisiblek's cm-14.1 lineageos repo, the dependencies are much more extensive. I'm going to bake that into my manifest and work from that.

[2019-07-04 20:59] mardy commented on #143
I solved the previous issue by adding `bootable/recovery-twrp` (with the line taken from [this manifest](https://github.com/djeman/android_device_samsung_j3xnlte/wiki/Local-manifest-CM-14.1)) to my manifest.

The next issue I'm facing is this:
[code]
(see [here](https://pastebin.com/PBwKbDFX) for the full log). Anyone able to tell me what's going wrong?

[2019-07-04 23:03] xonq commented on #122
my systemimage keeps failing with

`warning: (SND_SOC_WCD934X) selects SND_SOC_WCD_SPI which has unmet direct dependencies (SOUND && !M68K && !UML && SND && SND_SOC && CONFIG_SPI)
warning: (SND_SOC_WCD934X) selects SND_SOC_WCD_SPI which has unmet direct dependencies (SOUND && !M68K && !UML && SND && SND_SOC && CONFIG_SPI)`

[2019-07-06 10:40] xonq commented on #122
fixed and successfully built systemimage by running `make clean` after building the boot img and used `export USE_HOST_LEX=yes`

disabled 'verify' in the fstab and set CONFIG_DEFAULT_SECURITY to apparmor in lineageos_mata_defconfig, also adjusted CONFIG_SECURITY_xx_BOOTPARAM to 1 for SELINUX and 0 for apparmor

will flash soon and report back

[2019-07-06 20:59] mardy commented on #143
Notes on this port: http://www.mardy.it/blog/2019/07/notes-on-porting-the-samsung-j3-to-halium-%2B-ubports.html

[2019-07-08 02:07] weboose commented on #133
Hi, have you made some progress?

[2019-07-09 06:22] xonq commented on #122
Edit 190712: I believe to be caused by a mistake building, so this may be ignorable

kernel panic caused by SE Linux: https://paste.ubuntu.com/p/dGDsPmxjPv/
(please note I'm working to boot ubuntu touch so am modding files with their tools)

here are my defconfig se linux parameter values:
`CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=1
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONF

[2019-07-09 08:18] cheshirean commented on #63
I tried with the new rootfs, it worked. I am successfully connecting via ssh. But i have new problem:
[code]
I also saw the update [README.md](https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild/), but have not yet had time to test them. Probably should build new images

[2019-07-09 09:05] alefnode commented on #122
Did you see this?

[    1.696244] init: No precompiled sepolicy: No such file or directory
[    1.696255] init: Compiling SELinux policy
[    1.696386] init: Failed to read /vendor/etc/selinux/plat_sepolicy_vers.txt: No such file or director

[2019-07-09 09:30] cheshirean commented on #63
Tried to build images with the manifest specified [here](https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild/). As a result:
[code]

[2019-07-09 09:41] Vince1171 commented on #63
@Cheshirean try with ```breakfast halium_oneplus3-userdebug```

for the Anbox issue, are you sure you're using my prebuild boot image?
anbox binder should be integrated

[2019-07-09 11:36] cheshirean commented on #63
@Vince1171, i was sure to your answer... You can give a link to exactly the right images and I will recheck? Thanks)

[2019-07-09 13:27] xonq commented on #122
That's exactly what I saw before the panic

ub ports does not use se linux though, correct? but should I set the default security parameter from apparmor back to selinux?

[2019-07-09 13:50] Vince1171 commented on #63
@Cheshirean   https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild/releases
Anbox binder is integrated since v0.4
As there is an issue with the permission of ```anbox-tool```, you'll need this command in order to install it ```sudo python3 /system/halium/usr/bin/anbox-tool install```
and be aware that anbox is not stable at all, even on officially supported device

[2019-07-10 09:28] alefnode commented on #122
Are you finally working with cm14.1?

Can you share your manifest?

[2019-07-10 14:08] alefnode commented on #122
How did you disable verify?, i can't pass over that point

[2019-07-10 16:23] xonq commented on #122
I'm using the same manifest as provided at this point. I will begin working with invisiblek's cm-14.1 dependencies if these dont follow through. I have disabled verify, will flash tonight to check - ran into some issues flashing.

Got to have a USB 2 to C cable and port, the right fastboot, and all that

[2019-07-10 18:58] xonq commented on #122
I disabled verify per the advice above. Edit: `/halium/device/essential/mata/rootdir/root/fstab.mata` From there you will see a parameter on the first line of sources that says `verify`, simply delete that

[2019-07-11 00:24] Rondore commented on #44
I've been testing this for Ivy (Z3+). I had to do the rsyslog fix, set a root password and generate udev rules to get it running. To set the root password, I just copied my password hash from my desktop (/etc/shadow) to my phone using vi while the phone was in recovery. My WiFi is working but I am getting the glitch where scopes keeps starting like Yami is getting. The top pull-down menu closes at

[2019-07-11 07:13] TuxThePenguin0 commented on #131
Currently the LXC container is working on the Ubuntu Touch rootfs however graphics is not working yet and neither are most of the hardware tests

[2019-07-11 10:46] isubhampadhi56 commented on #134
I want to test it.

[2019-07-11 14:47] kcxt commented on #133
Hey! Sorry for the late reply. I've moved on to porting Sailfish as I think it suits my use cases better. My P9 is non-functional right now however if I get it going again I'll be porting Sailfish to it!

Closed as won't be working on this anytime soon.

[2019-07-11 14:47] #133 closed, assigned to kcxt

[2019-07-11 14:49] xonq commented on #122
I disabled verify and got the same error you were receiving alefnode about dm-verity failing.
Went into the defconfig and commented out 3 lines dealing with verity.
The new error is something to do with dm-0 Edit: `see alefnode's paste 7 comments down for details`.
EDIT: built from the old dependencies in lineagos-cm-14.1 (largely @invisiblek's builds and hardware trees successfully below

[2019-07-11 16:44] alefnode commented on #122
I made some changes:
**File ./device/essential/mata/device.mk comment lines**
#PRODUCT_SYSTEM_VERITY_PARTITION := /dev/block/bootdevice/by-name/system
#$(call inherit-product, build/target/product/verity.mk)
**File ./kernel/essential/msm8998/arch/arm64/configs/mata_defconfig**
CONFIG_DM_VERITY=n
CONFIG_DM_VERITY_FEC=n
CONFIG_DM_ANDROID_VERITY=n

But still not working

[2019-07-11 17:53] xonq commented on #122
have you tried messing with the lineage mata defconfig?
edit: /halium/kernel/essential/msm8998/arch/arm64/configs/lineageos_mata_defconfig

[2019-07-11 18:06] alefnode commented on #122
No, i am going to did it now, for checking

[2019-07-11 19:09] alefnode commented on #122
I tried all, all the change commented on this post, but i continue with same error

Fstab + device.mk + verity.mk + defconfig

https://paste.ubuntu.com/p/7FTjQJ6FzF/

[2019-07-11 19:17] xonq commented on #122
did you verify that the variables were actually changed in the final .config file? Should be located in the /out folder I'm guessing

[2019-07-11 20:07] alefnode commented on #122
[code]
Ignore this comment, i think i was using wrong defconfig file, testing again.

[2019-07-11 21:30] Vince1171 commented on #141
Duplicated
#65

[2019-07-11 21:30] #141 closed, assigned to nobody

[2019-07-12 01:38] weboose commented on #133
:)  Good luck

[2019-07-12 01:40] weboose commented on #133
I tried to make hybris-boot for p9, but usb didn't work, do you have this situation?

[2019-07-12 06:12] alefnode commented on #122
Ok, finally i pass to next step:

https://paste.ubuntu.com/p/fV597YgDGx/

[2019-07-12 09:04] TuxThePenguin0 opened #144 "[device-port] [loganreltexx] Samsung Ace 3 LTE"
Tree: halium-7.1

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [x] test_hwcomposer
  * [ ] test_lights
  * [x] test_vibrator
  * [x] test_wifi
  * [ ] test_sensors
  * [x] test_audio

[2019-07-12 17:55] xonq commented on #122
I commented out the verity options in `device.mk` in the /halium/build directory and rebuilt. Will update later

[2019-07-13 15:15] xonq commented on #122
That didn't work. Perhaps we should be focusing on making verity work instead of disabling it.

[2019-07-13 18:30] xonq commented on #122
I'm failing at building `build_verity_tree` for systemimage. I'm not sure how to build that binary. `mka build_verity_tree` doesn't work

[2019-07-13 23:04] Maxr1998 commented on #122
It seems you have to build that one "manually" with `cryptsetup`, as it's described here: https://source.android.com/security/verifiedboot/dm-verity#hash-tree

I love what you guys are doing here, and hope you'll get it to work eventually. I'd contribute if my PH-1 wasn't my daily driver..

[2019-07-14 00:27] xonq commented on #122
Perfect, will follow up with that.
I started using the `lineage-dependencies` from the cm-14.1 tree for my repo manifest because I noticed quite a few hardware connections were failing in the boot notes. @Invisiblek has specific hardware dependencies in his repository in the cm-14.1 tree.
Edit: The only difference in building is that the `opensource-nfc..` (near field communication) module fails t

[2019-07-14 15:10] xonq commented on #122
I tried following those instructions to build and sign `verity`, but it wasn't working for the boot.img successfully. At this time, I found a simple [patch](https://gist.github.com/Sergobot/e201cfcbc13eae3c3c9fef6ade9ad185) for the verity option I'm going to try.

[2019-07-14 22:57] cibersheep commented on #128
@rico542 did you have any time to look into this? I guess live dragged you away :)

[2019-07-15 16:11] alefnode commented on #122
Awesome manifest, i would try that too.

The patch is same thing that we mention before, so i think it is not going to work

[2019-07-15 16:14] xonq commented on #122
You're right, it didnt. So, as I see it:

- try to bypass verity
  - magisk bypasses some verity, maybe we could try that too?
- try to sign it correctly

FYI if you're having trouble with twrp touch functionality you have to:

Reboot fastboot
run `flashall` from factory image download
Flash `twrp.img` to ONE slot
Change to slot you just flashed, reboot recovery
run `adb shell twrp install twrp-in

[2019-07-16 07:11] alefnode commented on #122
Yeah, i have touch working at first i was crazy about that.

Do you think this can help us?
https://forum.xda-developers.com/android/software-hacking/signing-boot-images-android-verified-t3600606

[2019-07-16 09:24] cheshirean commented on #63
@Vince1171, i'm trying v0.4 and etc., and all work fine. Thanks for your help

[2019-07-17 03:32] xonq commented on #122
I tried that and it didnt work, however I changed the key name to verity. Might be worth you trying!

[2019-07-18 07:28] luka177 commented on #72
so i built it flashed and its simply rebooting, showing only oem screen

[2019-07-18 07:30] luka177 commented on #72
but maybe, i will be able to help, i am one of postmarketOS for cedric contributor

[2019-07-19 16:16] Tegner08 commented on #116
Hey if you upload your progress I'd love to see if I can help.

[2019-07-20 08:42] kiranreddyrebel commented on #63
Hi, any new updates on this device please.

[2019-07-20 09:49] Vince1171 commented on #63
@kiranreddyrebel
You can find news/updates for Ubuntu Touch [here](https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild)
For other OS's, there are no news unfortunately

[2019-07-21 12:07] the-newbie opened #145 "[device-port][kinzie] Port to Moto X2 Force (xt1580)"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-07-25 17:54] peat-psuwit opened #146 "[proposal] define the scope of the Halium project concretely"
As it currently is, Halium's scope seems to be unclear. Thus, I would like to define it as such:

-------------------

Halium's scope primarily consists of 2 parts.

1. Halium's Android is a minimal Android distribution designed to run within an LXC container. It will provide a set of interfaces to let the host of LXC container utilize Android's HAL to communicate with the hardware of Android-base

[2019-07-26 20:21] rgambard opened #147 "nothing"
did'nt find how to delete an issue, sorry for this useless message !

[2019-07-26 21:46] #147 closed, assigned to nobody

[2019-07-29 14:36] kcxt commented on #133
When I tried to port Sailfish (Before I broke my phone...), sending any packets to the device would cause a reboot, ping, ssh, telnet all caused it. However it did give me an IP Address.

I never got around to debugging properly however once you have working fixup mountpoints (The existing ones for eva are for Marshmallow and don't work) you can get a log file.

You can modify the init-debug scrip

[2019-07-29 15:12] luka177 commented on #50
hi how did you get ubuntu touch working?
on cedric ending with:
[    3.155571,4] initrd: checking mount label mmcblk0p37
[    3.156621,4] initrd: mounting /dev/mmcblk0p37 as /root/android//boot
[    3.159370,1] mount: mounting /dev/mmcblk0p37 on /root/android//boot failed: No such device
[    3.164387,4] initrd: checking mount label mmcblk0p38
[    3.165441,4] initrd: mounting /dev/mmcblk0p38 as /

[2019-07-30 09:57] asencan0666 commented on #99
what is the current situation? Are you still working on the rom?

[2019-07-31 09:59] andreadelsarto commented on #99
I will start soon :)

Il giorno mar 30 lug 2019 alle ore 11:57 asencan0666 <
notifications@github.com> ha scritto:

--
There are people trying to improve everything, because everything can be
improved, and I want to be one of them!

[2019-08-01 19:27] walidham commented on #72
hi, i have ported moto G 2014 (titan), i just got new Moto G 5, i want start port it.
I want kernel source and device to continue the port
BR

[2019-08-01 20:36] nift4 commented on #72
#ReadTheDocs @walidham https://docs.halium.org/en/latest/supplementary/devices/cedric.html

[2019-08-02 10:02] realcatgirly commented on #48
I'd love to work on it as well, currently building the Halium Image.
What rootfs should I choose, is there nothing newer than xenial? 64bit?

[2019-08-03 11:39] UniversalSuperBox commented on #50
`cedric` is a different device than `potter`, but it appears that you have a fairly common problem. Try unsetting `console=` in your device cmdline. Please join us on any of the "Getting help" channels in the UBports documentation for more help: https://docs.ubports.com/en/latest/porting/introduction.html

[2019-08-04 15:18] GeorgeGhost opened #148 "Android 9 support"
There is halium 7.1 and halium 5.1, but what should you do when porting halium to android 9 device?

[2019-08-04 15:46] jbruechert commented on #148
There is a halium 8.1 tree being developed by @Herrie82, which will be enough for most devices. We are currently reusing the mer-hybris trees, meaning that we will likely wait for mer with creating an halium-9 tree.

[2019-08-04 16:56] peat-psuwit commented on #146
On this, @bhush9 has said on Telegram that:

I'll update the issue accordingly.

[2019-08-04 17:44] #148 closed, assigned to nobody

[2019-08-04 17:52] bhush9 commented on #146
To answer questions,

1. They're not scope of Halium, no. They're largely part of the how distribution wants to implement it, halium-boot is recommended solution but distro may as well use the hybris-boot or use something else taking reference rootfs as example.

2. I've answered.

3. Your proposal there makes sense.

4. Yes. Distribution dependent, as different distro might have different OTA upd

[2019-08-04 18:43] peat-psuwit commented on #146
Based on @bhush9's answers and additional discussions in the Telegram group. I've updated the proposal again. If consensus is reached, I'll update the Halium's website to contain this, and we can consider this closed.

[2019-08-05 11:06] weboose commented on #133
Thank you, since configfs can't work, now I have given up on porting halium.

[2019-08-05 20:07] walidham commented on #72
![screenshot20190806_222921551](https://user-images.githubusercontent.com/6183661/62580331-ddad2900-b89d-11e9-826a-75fa05ed6928.png)

[2019-08-07 09:43] TejasSriv opened #149 "[device port] [beryllium] Port to Pocophone F1"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-08-08 04:11] xsetiadi commented on #98
how about anbox? can this port run anbox?

[2019-08-08 04:33] fredldotme commented on #98
The kernel has yet to be modified to run Anbox but in theory, as soon as that's worked out, it should run just fine.

[2019-08-08 04:45] xsetiadi commented on #98
sony Xperia x and x compact is had similar hardware, so will this port can run on Xperia x compact?

[2019-08-08 04:46] fredldotme commented on #98
The Xperia X and Xperia X Compact are different devices, you might want to follow this project management issue instead: https://github.com/Halium/projectmanagement/issues/103

[2019-08-08 04:49] xsetiadi commented on #98
ok, I think it's just can run on Xperia x compact like G7 has done to make compatibility layer to run sailfish x on Xperia x compact

[2019-08-08 13:26] alanifotis commented on #48
@zeropointenergy
Thanks man but with my knowledge i am unable to continue your work any further. I can do testing if it ever comes to that fase. Thanks 😊

[2019-08-08 19:59] realcatgirly commented on #48
I got to the point of the bootanimation but unity8-dash wont start because it cant connect to mir-server, maybe someone is able to figure that out...
My files (halium-boot.img, system.img, rootfs and defconfig) are on my Pi: [https://tomsserver.ddnss.de/ubuntu-touch-herolte/](https://tomsserver.ddnss.de/ubuntu-touch-herolte/)
Can't really test for now since the S7 is still my primary device

[2019-08-11 22:24] ghost commented on #63
I've been trying to build an image to use with plasma mobile, but something SELinux related is causing issues:
[code]

I've commented out the SELinux lines for now to get it to build, any ideas on how to fix it properly?

[2019-08-12 07:40] gopikrishnanrmg commented on #71
I also got the same issue. What is the problem? I am new to  porting.

[2019-08-14 20:38] theglen35 commented on #134
Hello are you still working on this? can you share it so i could continue your work?

[2019-08-16 18:36] hpagseddy commented on #41
@Flohack74 do RIL works on Ubports?

[2019-08-16 21:51] Flohack74 commented on #41
Not on S3 Neo but I did not spend much time looking for a solution.

[2019-08-16 21:51] Flohack74 commented on #41
But network works, just no calls...

[2019-08-17 16:06] bachoudev commented on #121
This error seems to come from halium since we use the 7.1 version. star* device use 8.1.
Thx to @Herrie82 i found he had a pretty good repo for halium-8.1.
I got some errors using his halium 8.1 port so i forked it to solve some issues with starlte build.
You can get all my forked edit and doc here: https://github.com/bachoudev/ubports-starlte

i get a bootimage without any errors but i get somes

[2019-08-17 19:54] bachoudev commented on #121
Fix some errors on "mka systemimage" so we have a boot image and system image build for starlte (i think we can apply all my edits for star2lte to get the same state).

i made a readme with all step to fix all errors here https://github.com/bachoudev/ubports-starlte/blob/master/README.md

i will test asap on my device.

[2019-08-17 23:43] hacker1024 commented on #148
Could @Herrie82's tree be used to create a GSI?

[2019-08-18 06:39] Herrie82 commented on #148
@hacker1024 What is GSI? The Android 8.1 was just build tested and it still failed for me in the last step, but most of the hard work should've been done really. Creating 9.1 would be possible as well. Just that the Mer guys took a different approach and aren't disabling all unnecessary Java stuff anymore like it was done with 5.1 and 7.1. So in order to create a 8.1/9.1 tree, it required quite so

[2019-08-19 14:46] fredldotme commented on #98
I have enabled the kernel to support the Anbox-required additional Binder instance. As soon as the Xperia X hits the list of supported Anbox devices we can mark Anbox support as fully available.

[2019-08-20 07:02] xsetiadi commented on #98
wow, sounds good, whats next?

[2019-08-20 10:19] bachoudev commented on #121
So tested on my device and get stuck on knox boot.
Idk really know why.
I missed some kernel defconfigs it's now fixed but can't unset CONFIG_RT_GROUP_SCHED see detail error (https://github.com/bachoudev/ubports-starlte)

All problems seems to come from my device tree so halium 8.1 seems to work great. I get always 3 build bugs (seems makefile don't copy some file) idk if it comes for my device tr

[2019-08-20 11:52] fredldotme commented on #98
Missing pieces are audio while calling, camera and video playback.

[2019-08-21 09:36] xsetiadi commented on #98
does this will work too for xperia x dual? F5122?

[2019-08-21 09:51] fredldotme commented on #98
In theory yes, practically I don't have the device available. But since I modified the source in a way that's not specific to F5121 it should work just fine. The only area I could see issues with is ofono needing an override to support the second SIM tray.

[2019-08-21 14:43] hpagseddy commented on #41
@Flohack74 what about SMS? I am planning to use it on my S3

[2019-08-21 18:15] Flohack74 commented on #41
I did not try this out, sorry.

[2019-08-22 08:25] sjllls opened #150 "[device-port] [dora] Sony Xperia X Performance"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [x]  libhybris tests
 - [x]  test_gps
 - [x]  test_hwcomposer
  - [x]  test_lights
  - [x]  test_vibrator
  - [x]  test_wifi
 - [x] test_sensors
 - [x] test_audio
  - [x]

[2019-08-23 12:16] fredldotme commented on #98
Calling now works (with caveats). For the time being you need a test version of telepathy-ofono on your device to enable calling:

[code]

[2019-08-23 19:22] fredldotme commented on #150
Feel free to send a Pull Request of your manifest whenever you are ready :)

[2019-08-24 04:51] xsetiadi commented on #98
it's getting interesting by the time

[2019-08-26 11:28] zhou2725 opened #151 "[device-port] [riva] Xiaomi Redmi 5A"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-08-26 11:55] benclarkk opened #152 "[device-port] [scale] Huawei Y6"
Tree:  hallium 7.1

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audi

[2019-08-26 17:54] luka177 commented on #72
hmmm any idea with camera?

[2019-08-26 18:01] nift4 commented on #72
@walidham Source?

[2019-08-26 18:02] nift4 commented on #72
@luka177 Known issue also on Android 9 CustomROM, Magisk Module "Various fixes for Moto G5/G5S" fixes it. GitHub link: https://github.com/Magisk-Modules-Repo/LiveDisplayFixUnity

[2019-08-26 18:27] walidham commented on #72
soon i will upload it, i will test audio, for camera its related to audio and apparmor permision

[2019-08-26 21:59] kcuppund opened #153 "[device-port] [Z00L] Asus ZenFone2"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-08-28 06:47] luka177 commented on #72
but qcamerasrv is crashing .

[2019-08-28 06:47] luka177 commented on #72
And i have audio

[2019-08-28 07:00] luka177 commented on #72
and i disabled apparmor for now

[2019-08-28 13:44] ghost commented on #122
So I ended up cheating a bit and just extracted the tarball version of this repo into the out/host/linux-x86/bin folder and renamed `build_verity_tree.py` to `build_verity_tree` https://android.googlesource.com/platform/system/extras/+/724396ed8dbf71ce2744e916fec2e6aec05d1041/verity/

Good news is that it worked well enough to not fail there again.
Bad news is it's then failing and calling for a n

[2019-08-28 14:22] benclarkk commented on #152
notes here: https://cloud.disroot.org/s/pCbdC5mDcfT3ZRe
other stuff here: https://cloud.disroot.org/s/8QJMGrZ3opJ7b2o

[2019-08-28 16:48] xonq commented on #122
@laserbeamh great news, that's a significant hurdle overcome.

I've reverted back to Essential being my daily driver, but I can do some research in the meantime before I move forward with development again.

[2019-08-28 16:54] xonq commented on #122
Perhaps [this](https://forum.xda-developers.com/android/software/universal-dm-verity-forceencrypt-t3817389) will work.

- Flash stock in bootloader (download from essential, run 'flashall' or do manually)
- Wipe all `fastboot -w`
- Flash halium-boot.img to 'a' `fastboot flash boot_a halium-boot.img`
- Flash twrp to 'b' `fastboot flash boot_b twrp.img`
- Boot recovery on 'b' `fastboot -ab` boot rec

[2019-08-29 02:43] ghost commented on #122
took the lazy route (again). eventually i'll go back and at least set git dependencies correctly.

this is the repo for fec: https://android.googlesource.com/platform/system/extras/+/master/verity/fec/tests/

`mka systemimage` failed at 7%

`[  7% 1572/22028] Lex: libsepol_32 <= external/selinux/libsepol/cil/src/cil_lexer.l
FAILED: /bin/bash -c "prebuilts/misc/linux-x86/flex/flex-2.5.39 -o/home/la

[2019-08-29 10:34] ghost commented on #122
yeah that one's on me. used the flex fix from the docs and made it passed that. had to install `libxml2-utils` for a new issue. now stuck on an issue with verity sizing.

https://gist.github.com/laserbeamh/e178450ae67e9bacac054807581cadce

[2019-08-29 14:17] xonq commented on #122
Not sure I'm following what you're doing here. You successfully built and bypassed the verifying dm-verity step and now you're getting hung up on rebuilding if I understand right. What did you change?

[2019-08-29 14:48] ghost commented on #122
Sorry, I've been a little all over the place... I'm also still trying to find a good way to document for others instead of just my scrambled brain. In a nutshell:

- I got to where I think your build was failing with the bit about there not being the `build_verity_tree` bin file and no know rules to make it.
- I saw what you guys had been discussing and ended up finding `build_verity_tree.py` on G

[2019-08-29 14:50] xonq commented on #122
Verity seems ideal - for the sake of getting a working development model going, I'm fine without it, which is why I've suggested the disable.zip above that supposedly disables verity and fec.

Maybe your verity build may be failing because the file is drawn from a different device and expecting a different size? - why wouldn't that happen the first time though?

[2019-08-29 16:01] ghost commented on #122
My knowledge of all of this is shaky. I'm not against disabling verity and fec, but I know it would nag at me and it feels so close :/

Right now I'm going to see if I can find a way to convince verity that the fs is ext4. In the makefile there's an if statement where if the user images use ext4 then the max size is the partition size (4gb) but the else statement is the 4gb/1048576 leading to the

[2019-08-30 00:00] xonq commented on #122
Thats great. I look forward to when you report back

[2019-09-01 08:55] ungentilgarcon commented on #48
Wish I had a 2nd S7 for developping onto... or a way to dual boot it.

[2019-09-01 08:59] ungentilgarcon commented on #48
Do you have a S7 to test releases? I'd be interested to look at the bugs of the code tomjschwanke compiled

[2019-09-02 02:37] dev-el commented on #48
@tomjschwanke

Hi, I've been through this problem too when I was trying to port it to my S7 (I gave up after getting problems with wifi (and permissions to load the kernel module), video playback and other driver-related problems). If I'm not mistaken, this problem is because of the missing dir /run/user/32011 and/or its permissions. To solve that, ssh into the system (with root permission) and ad

[2019-09-02 02:59] dev-el commented on #48
@tomjschwanke

@ungentilgarcon

You could use the halium-install script to flash the rom into the s7 with already installed android without formatting it before (back it up first), given that the script basically copies files (as I recall). Then, switch from TWRP to halium-boot.img, and vice versa, to boot which one you want.

[2019-09-03 09:45] stefanomelchior commented on #44
**Sony Xperia Z4 Tablet karin (LTE)** and **karin_windy (WiFi)**.
Tested on Karin only:
**Working:**
- GUI (edge version with libzmq5-4.1.5),
- wifi,
- sound, headphones,
- sensors (rotation, localization), GPS,
- online-accounts,
- apparmor patches,
- lights (leds) control,
- vibration

**Not working yet:**
- SIM cardrecognition (thus no calls and no sms)
- bluetooth
- camera and video playback
L

[2019-09-05 16:54] saurabh6377 commented on #151
If your build is ready? Can we test it?

[2019-09-07 09:39] neerraj opened #154 "Device port: Redmi 3S"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-09-07 14:28] mgood7123 commented on #64
is this still active? its been over a year

[2019-09-08 06:50] amrithmmh commented on #81
Anyone working on this? Is it functional?
How did you Port it?. The docentation says systems supports 3.10 kernel

[2019-09-08 11:06] vanyasem commented on #64
@mgood7123 halium doesn't support anything newer than LOS14.1. Stable LOS 14.1 is not available for dream2lte (read sidenote 4)

There is a LOS 16.0 build for dream2lte available, so there's hope for that when (or if) Halium supports LOS 16.0

It doesn't make any sense to port a broken OS on top of a broken OS. You won't be able to use it as a phone anyways. If you just want to use it as an aarch6

[2019-09-08 17:15] luka177 commented on #50
thanks helped

[2019-09-10 09:52] amrithmmh commented on #81
I am trying to port halium but the porting guide says 3.10 linux kernel required , OPx is having kernel 3.4

[2019-09-10 10:08] Herrie82 commented on #81
3.4 will work in most cases when you add required patches. They are already included for Onyx

[2019-09-10 10:17] amrithmmh commented on #81
thank you i will try porting

[2019-09-11 19:08] novadragonDOTspace opened #155 "[device port] [a5xelte] Port to Samsung Galaxy A5(2016)"
Tree: halium-7.1

- [x] Create manifest https://github.com/Halium/halium-devices/pull/176/files#diff-7ffd30d7afd40ff7b2e67350018857a5
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [

[2019-09-15 07:28] amrithmmh commented on #85
i have similar errors as shown in logs is there any fix till now?

[2019-09-15 11:33] amrithmmh commented on #85
any solution for this problem?

[2019-09-15 15:30] Vince1171 commented on #154
#90

[2019-09-15 15:30] #154 closed, assigned to nobody

[2019-09-15 19:39] fredldotme commented on #98
A new build will be released soon with functional hardware video decoding & partial camera support (currently only pictures & no flash).

[2019-09-17 10:34] neutralinsomniac commented on #98
Hey there. Huge props for getting this working. As far as I can tell, I followed the installation instructions here: https://forum.xda-developers.com/xperia-x/development/rom-ubuntu-touch-sony-xperia-x-t3958100, but boot is failing. Looks like my partitions aren't set up correctly?

Relevant portion of on-device dmesg follows:

[code]

[2019-09-17 15:57] amrithmmh commented on #22
how did you load  non caf image?

[2019-09-17 18:08] fredldotme commented on #98
Hello @neutralinsomniac!
Have you tried wiping everything, including /data & /system? Also, does `halium-install` show any errors, like when it's sending the final image files to the device?

EDIT: Also, are you using f2fs? The system expects the partition to be formatted with ext4.

[2019-09-18 11:33] neutralinsomniac commented on #98
Looks like this was the ticket. I was coming from a fresh restore of Android 8. Went into TWRP, formatted /data and /system, re-did all the installation steps, and now it looks like ubuntu touch is booting properly! Thank you! Not sure if it would be helpful to add those steps to the install guide?

[2019-09-18 12:13] fredldotme commented on #98
Makes sense, I'll include it in the XDA forum post. Thanks for testing!

[2019-09-18 20:15] vanyasem commented on #64
Regarding sidenote 2: https://github.com/Halium/initramfs-tools-halium/commit/2e95f3a55d99c3126fa21731d28acc59f44ffc83

[2019-09-23 22:32] Bluppie05 commented on #152
Yes lets go thats the device we want ubuntu touch/hallium on! Go on with porting it to that model phone. Let me know if I could possible do anything to help you make a port of hallium for the Y6, my email aress is bluppie05@gmail.com I have an Y6 device so maybe I can help testing or somthing. Kind regards, Bluppie05

[2019-09-26 13:30] benclarkk commented on #152
@Bluppie05 which model of y6 have you got? i kinda gave up after a while bc my y6 has a smashed screen.

[2019-09-26 15:21] Bluppie05 commented on #152
I have an Huawei Y6 SCL-L21 which is running emui 3.1(Summary: I have the old model)

[2019-09-27 17:53] benclarkk commented on #152
ah, i have scl-l01 but it's not too hard to port to both (?)

[2019-09-27 17:56] Bluppie05 commented on #152
Ahh ok, isn't that the almost exact same precedur?

[2019-09-27 17:57] Bluppie05 commented on #152
Or does it have really big hardware differences?

[2019-09-27 18:00] Bluppie05 commented on #152
Oh the hardware difference is that the SCL-L21 has 2GB of memory and the SCL01 has 1GB of memory. Is that a big deal?

[2019-09-30 15:06] GetAGripGal commented on #48
Heya! i know this might be an old post but i have a problem installing this port, i tried flashing it with heimdall
(`heimdall flash --BOOT halium-boot.img`)

Then installed the ubuntu touch rootfs like so:
`halium-install-master/halium-install -p ut ubports-touch.rootfs-xenial-armhf.tar.gz system.img`

however when i boot my device it stays at the bootlogo.
anyone have a fix for this?

(if you ha

[2019-09-30 16:13] dev-el commented on #48
Hi, try this as provisional fix in chroot of the installed device:
`sudo -i`
`mount -o remount,rw /`
`cat /var/lib/lxc/android/rootfs/ueventd*.rc | grep ^/dev | sed -e 's/^\/dev\///' | awk '{printf "ACTION==\"add\", KERNEL==\"%s\", OWNER=\"%s\", GROUP=\"%s\", MODE=\"%s\"\n",$1,$3,$4,$2}' | sed -e 's/\r//' >/etc/udev/rules.d/70-[codename].rules`
`reboot`

If you don't know how to  enter in chroot,

[2019-09-30 18:09] GetAGripGal commented on #48
Hi, thx for wanting to help, i appreciate really it.
i ran the commands and they worked correctly.
however when i tried to ssh into the phone it says the connection refuses.

i checked using `dmesg -w` i get the message: `IPv6: ADDRCONF(NETDEV_UP): [network interface name]: link is not ready`

Again thank you for wanting to help me

[2019-09-30 20:35] dev-el commented on #48
Did you try with my images? Can you send more info about the problems? What is the exactly error message? After running the quoted commands, please paste the return of:
`ip link show`
specifying in which network interface is the device.
You could try to connect in twrp:
`adb shell`
`touch /data/.writable_image`
to not having to remount as read/write every time you want to make some modifications i

[2019-10-01 06:02] GetAGripGal commented on #48
I connected to twrp with `adb shell` and mounted the rootfs.img, some files where missing. I think it must have not flashed correctly. Will try your images when I have time.

[2019-10-01 06:43] ZeroPointEnergy commented on #48
When installing the root tarball for ubuntu touch there where usually some files and links missing because it wasn't halium based yet. I'm not sure if they moved to halium by now. I used some esoteric setup with ostree to test the builds, but in that repo (https://github.com/ZeroPointEnergy/halium-ostree-repo/tree/master/overlays/ubports) there is an overlay dir which should contain all the files

[2019-10-01 07:59] GetAGripGal commented on #48
Heya! Thanks for the tip!
How would I go about merging the that's?

Would running the script you linked do that automatically?

[2019-10-01 08:44] ZeroPointEnergy commented on #48
To tar the directory and merge it with the rootfs tar you could do something like this:
[code]

[2019-10-01 08:51] GetAGripGal commented on #48
thanks man! will try that when i have time!

ill report how it went.

[2019-10-01 15:23] GetAGripGal commented on #48
heya! flashed the merged images but i'm still not able to connect to ssh.
even after running the ip link commands.

when i run ssh `phablet@10.15.19.82` i get `ssh: connect to host 10.15.19.82 port 22: Connection timed out`

here is the output of `ip link show`:
`1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode DEFAULT group default qlen 1000
    link/loopback 00:00:00:00:0

[2019-10-01 18:43] velitasali opened #156 "[device port] [Z012] Port to Asus Zenfone 3"
Tree: halium-7.1

- [x] Create manifest https://github.com/Halium/halium-devices/pull/179
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ]

[2019-10-01 19:44] dev-el commented on #48
I think enp0s20u8 must be your device network interface. The network address is not set to what I wrote  and the link is down.

[2019-10-01 19:49] ZeroPointEnergy commented on #48
Is the screen changing at all or are you stuck on the "samsung s7" logo? because it may be you are still stuck in the initrd or even earlier.
There are basically three stages where you can debug.
- kernel: if it is stuck booting the kernel you have to debug with by reading the kernel logs from your recovery system: https://docs.halium.org/en/latest/porting/debug-build/dmesg.html
- initrd: the hali

[2019-10-01 19:53] ZeroPointEnergy commented on #48
Wrong button, sorry :sweat_smile:
Do you actually see the screen changing and the ubports splash screen? If not it may be stuck in the initrd and then you will have to use telnet to connect. If that doesn't work you will need to read the kernel logs from the recovery: https://docs.halium.org/en/latest/porting/debug-build/dmesg.html

[2019-10-02 04:44] GetAGripGal commented on #48
Do you actually see the screen changing and the ubports splash screen? If not it may be stuck in the initrd and then you will have to use telnet to connect. If that doesn't work you will need to read the kernel logs from the recovery: https://docs.halium.org/en/latest/porting/debug-build/dmesg.html

It's stuck at the bootlogo, I'll try connecting trough telnet then

Figured as much, it wasn't set

[2019-10-02 05:20] dev-el commented on #48
You have to run again all the commands that modifies the system every time you flash it again (it's a provisional fix) and all the commands related to the network every time you boot the device.

[2019-10-02 05:20] dev-el commented on #48
You have to run again all the commands that modifies the system every time you flash it again (it's a provisional fix) and all the commands related to the network every time you boot the device.

[2019-10-05 10:27] Thesola10 commented on #64
I am interested in this porting work, and I found an unofficial build of LOS14.1 for `greatlte` [here](https://forum.xda-developers.com/galaxy-note-8/how-to/unofficial-lineageos-t3686026)

I wonder if and how it can be useful for targeting both great and dream (being very similar)

[2019-10-05 19:29] Thesola10 commented on #64
Also, could Samsung's own Open Source Center code for Android N be used in the building process?

[2019-10-05 21:03] Bluppie05 commented on #152
Do you have something like Skype, Discord, Telegram or any other messaging app? Because thats a little bit easier to communicate with than the github comments.

[2019-10-06 15:17] GetAGripGal commented on #48
Heya! was gone for a while.
successfully connected to the telnet.
I tried to read diagnosis.log however it seems to not exist.
also found some other files don't exist.

This is the output of `ip link show`:
`1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode DEFAULT group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
2: enp3s0: <BROADCAST,MULTICA

[2019-10-06 15:29] ZeroPointEnergy commented on #48
Try with `dmesg` when you are logged in with telnet. If telnet work this means it is stuck in the initrd and doesn't start init in the rootfs yet.

[2019-10-06 15:34] GetAGripGal commented on #48
telnet seems to work, so its probably stuck at the initrd. this is confirmed when i run `dmesg -w` and i get `SerialNumber: halium-initrd telnet 192.XXX.XX.XX`

how would i go about fixing that? or is the rootfs bad?
if so what rootfs should i use?

[2019-10-06 16:02] ZeroPointEnergy commented on #48
I think the most likely explanation is that something has changes since the port was made and now it isn't working. You will have to look at the dmesg output try to figure out what the problem is or where exactly it is stuck.

[2019-10-06 18:06] GetAGripGal commented on #48
alright, will do that
a will come back to you when i found the error and/or have a fix

[2019-10-07 15:10] vanyasem commented on #64
@Thesola10 I am not familiar with OSC code, could you send me a link?

Also `greatlte` is a totally different device

[2019-10-07 15:15] Thesola10 commented on #64
@vanyasem For some reason permalinks don't work on Samsung's OSC website, but head over to http://opensource.samsung.com and enter the model number (SM-G950?). You can then select an archive that ends in `_NN_opensource.zip` for Android 7.1 Samsung code. You will find `Kernel.tar.gz` and `Platform.tar.gz`. I am looking into whether Platform can be used with Halium.

[2019-10-10 14:59] JonnyMe opened #157 "[device-port] [paella] BQ Aquaris X5"
Tree:

- [x] Create manifest https://github.com/Halium/halium-devices/pull/181/files
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_

[2019-10-12 03:43] jishnurajm commented on #84
Is it completed ! Any progress ?

[2019-10-13 21:37] iambumblehead commented on #103
agree with @levone1 it would be awesome if this port continued :+1:

[2019-10-13 22:13] IGNNE commented on #44
I can confirm that GPS is working now in UT on my Z5C

[2019-10-14 02:16] YamiYukiSenpai commented on #44
Display booting up right? What other changes did you do to make it boot?

Gonna give this a go again soon.  Haven't tried Ubuntu Touch in a while

[2019-10-14 06:25] IGNNE commented on #44
Display and hwcomposer are fine, but MHL freezes Unity (at least on the edge rootfs, maybe it is a Ut bug, don't have an adaptor right now). Both the Los and the Ubports kernel source start the display, but ofc you need the right config.

[2019-10-14 18:29] benclarkk commented on #152
yea, @jamesisaweeb on tg

[2019-10-14 22:56] IGNNE commented on #44
Okay, MHL actually works with the non-edge rootfs, with convergence and all the good stuff.

[2019-10-15 03:12] YamiYukiSenpai commented on #44
You got WiFi to work?  Or is it still the same as last time?

~~Dang. Scopes is still glitchy.~~  Fixed that with the `libzmq5` package I found on Telegram

[2019-10-15 08:10] Roker2 commented on #71
TheMuppets Xiaomi vendor don't exist.
It is trouble.

[2019-10-15 08:51] IGNNE commented on #44
Works with Ut, see PR to kernel

[2019-10-15 09:41] JacoMalan1 opened #158 "[device-port] [h930] Port to LG V30 / V30+"
Tree: halium 7.1

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio

[2019-10-15 11:23] mathieujobin commented on #71
Rajeev,. It's a Linux kernel config optionYou need to change the m (module) for a y (yes) in a file before you compile the kernel
/proc/config is an output file of what was the config during compilation

  On Mon, Aug 12, 2019 at 16:40, Gopikrishnan Rajeev<notifications@github.com> wrote:

Host dmesg:
Mer Boat Loader Refusing to boot. See /diagnosis.log (in initrd only)

Phone:
~ # cat /diagnosis.

[2019-10-15 16:21] JacoMalan1 commented on #158
This is basically never happening, there are no cm-14.1 sources for h930, so until halium goes oreo, this is not going to fly.

[2019-10-15 16:21] #158 closed, assigned to nobody

[2019-10-15 19:28] YamiYukiSenpai commented on #44
Have you tried inserting an SD card on your device?  Before I go and format it, I just wanna know if SD cards formatted under ext4 works?

[2019-10-20 22:03] 4soobs opened #159 "[device-port][chagalllte] Galaxy Tab S 10.5 LTE"
Tree:  halium-7.1

### **Test tree**
----------------------------------

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [x] test_vibrator
  *

[2019-10-21 10:56] doniks commented on #159
If you have the manifest then please do link it

[2019-10-21 10:59] 4soobs commented on #159
Hello, I apologize for that. I wanted to create a manifest and link it, but for now I am having some issues now. I will try creating a repo and linking as soon as I can.

[2019-10-21 11:00] 4soobs commented on #159
Do you have this device and would like to help me? Currently I am encountering an "KERNEL IS NOT SEANDROID ENFORCING",

[2019-10-21 15:49] doniks commented on #159
Hi @rlucins ok. No worries. Whenever you have it. Good luck with the port!

No, I do not have that device, sorry, can't help you there. Not sure what exactly this is error is. Seems to be a Samsung thing. Maybe it's not even a real problem ... Btw, you are aware of the irc/matrix/telegram chat right? https://docs.halium.org/en/latest/porting/first-steps.html You're gonna get best and fasted help t

[2019-10-21 17:07] 4soobs commented on #159
That is ok. I do know that there is an irc/matrix/telegram chat. I couldn't seem to find their chat on Telegram.

[2019-10-24 05:09] ghost commented on #138
Bro is it complete for testing

[2019-10-24 16:26] lapinus commented on #17
Hi! How can I compile this and try it myself? Thanks!!!!

[2019-10-24 21:28] doniks commented on #17
docs.halium.org

[2019-10-25 21:12] 4soobs opened #160 "[issue] A "PREEMPT" error on Samsung Galaxy Tab S 10.5, (chagalllte)"
For a whole day, I have been hitting this brick wall, trying to fix it, and didn't succeed. Here is the wall I am having here: "`Internal error: Oops - BUG: 0 [#1] PREEMPT SMP ARM`" Google didn't seem to help, since there are alot of threads, but no genuine answers. Please let me know if you have figured out this puzzle. Here is the full log of the `last_kmesg`: https://pastebin.com/1eEkUMrK

[2019-10-26 11:19] fastbootfinesse commented on #136
im game ! :]

[2019-11-01 19:59] hagdervriese opened #161 "lge Nexus 5x"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-11-01 20:02] #142 closed, assigned to nobody

[2019-11-03 13:04] xsetiadi commented on #150
make sony devices great again 👍

[2019-11-04 16:04] GetAGripGal commented on #48
Heya everyone! i was trying to get the port to work again and i was wondering if maybe i might be using the incorrect rootfs?

what rootfs would you guys reccomend me using?

[2019-11-04 16:19] ZeroPointEnergy commented on #48
I used the rootfs from here: http://ci.ubports.com/job/xenial-rootfs-armhf/lastSuccessfulBuild/artifact/out/ubports-touch.rootfs-xenial-armhf.tar.gz

[2019-11-04 16:52] GetAGripGal commented on #48
That still didn't work, i thought the problem might be the mountpoints.
I ran the fixup-mountpoints script for herolte like so:

`./fixup-mountpoints herolte`

however i get the error:
`Fixing mount-points for device herolte`
`sed: no input files`

could that be related?

edit: forgot to add, the reason i think this is because i get this error after running `mka mkbootimg`:
`halium/hybris-boot/And

[2019-11-05 07:35] ZeroPointEnergy commented on #48
Are you using the old hybris-boot or halium-boot?

[2019-11-05 14:34] GetAGripGal commented on #48
I am using halium-boot, I get the error while creating mkbootimg asi it said in the docs.

[2019-11-06 18:55] GetAGripGal commented on #48
Hi! Me again! Sorry if this is a stupid question.
I was reading through your notes and noticed this line:

I thought this might be the problem.
how would I go about doing this?

[2019-11-07 07:38] joe-relax opened #162 "[device-port][addison] Port to Moto z play (xt1635)"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-11-07 17:05] #159 closed, assigned to nobody

[2019-11-07 21:42] ghost opened #163 "[device-port] [] LG Stylo 2 Plus"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-11-07 21:43] ghost commented on #163
If you need any other information as well, please let me know!

[2019-11-07 21:49] Flohack74 commented on #56
@ALL: There is a bug in lxc which prevents container start with systemd and disabled CPUs. So this prevents Halium reference rootfs to start properly, while Ubunt Touch with upstart would work probably. This needs probably lxc later than 3.2.1, or a backport of https://github.com/lxc/lxc/commit/36f7018103cd66cc16128b04200df15320472a54 and https://github.com/lxc/lxc/pull/3109

[2019-11-08 02:27] androidacy-user commented on #95
Have you done any work since then @Sergobot?

[2019-11-08 18:30] doniks commented on #163
123/127 looks weird but I can't see any errors in the log. Have you tried flashing it anyway?

[2019-11-08 18:45] jbruechert commented on #163
The Building Kernel step takes some time and doesn't display any progress. How long have you waited for it to finish?

[2019-11-09 19:07] 4soobs opened #164 "[device-port] [chagalllte] Samsung Galaxy Tab S 10.5" LTE"
Tree:  halium-7.1.

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audi

[2019-11-11 07:15] iwan-beep commented on #138
can it be tested?

[2019-11-11 07:37] ZeroPointEnergy commented on #48
That was with the halium test rootfs. The ubuntu touch image does not use systemd/journald.

[2019-11-11 20:38] IkerST commented on #102
As I don't have time & a device to  test on, sadly the battery died, I won't be able to continue to Port this device, I'll leave the issue opened so anyone else can try to Port this

[2019-11-12 20:05] Roker2 commented on #71
@Herrie82 , how to install LuneOS? ,
I want to try it.

[2019-11-12 23:23] Rudi9719 commented on #127
Is there any progress/interest in this? @TonyKuroi and I are interested in working on it as well as getting an Android 8+ port going should make it easier to port moving forward due to project treble.

[2019-11-13 06:47] Herrie82 commented on #71
@Roker2 Basically you need to have Android 7.1.x on it, then install TWRP and format the data partition to remove the encryption. Afterwards you can simply ADB sideload the ZIP from the following location (latest "stable" release) from 2 weeks ago:

http://build.webos-ports.org/releases/eggnoglatte/images/mido/

[2019-11-13 12:38] Roker2 commented on #71
@Herrie82 , it is worked... I was thinking, that I will never see something like it. Good job! And I didn't think, that all sensors are worked.
So, about bad things.
1) I can not open camera program
2) I see artefacts while scrolling
3) When display darkens, I tap to display and display is dark
4) OTA is not worked
5) some lugs?

But... It is amazing work. I want to follow updates and check build

[2019-11-13 12:43] Roker2 commented on #71
And one more. Now Official LineageOS 14.1 doesn't exist. I used [this](https://androidfilehost.com/?w=files&flid=270950), it is worked. If you flash from pie/oreo - you need to format /data.

[2019-11-13 16:11] Herrie82 commented on #71
1. Camera is currently not working on our 7.1 based devices. We're looking into a solution for this. This is for all our 7.1 based targets.

2. I haven't seen this, could be Qt bug. I haven't tested Mido in a while myself, since it's my daily Android phone for now. What kind of bugs?
3. This is a known problem, we're looking into. Seems to be related to an update with did with regards to webOS OSE

[2019-11-13 16:46] Roker2 commented on #71
5. Sorry, lags (not smooth animations)

Thank you for information about updates.

And one more. Can you send worked Halium image? I want to try to boot UBPorts.

[2019-11-13 17:12] Herrie82 commented on #71
The Halium images can be found at: http://build.webos-ports.org/halium-luneos-7.1/

The ones with mido in the name. The latest one is: http://build.webos-ports.org/halium-luneos-7.1/halium-luneos-7.1-20190301-29-mido.tar.bz2

[2019-11-15 06:23] ramasai-badam commented on #138
Hello @alexpseletr are you currently making any progress in this ?

[2019-11-15 07:03] walidham opened #165 "[device-port] [H918]LGV20 T-Mobile"
Tree: halium-7.1

- [x] Create manifest https://github.com/walidham/lge_manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [ ] test_hwcomposer
  * [x] test_lights
  * [ ] test_vibrator
  * [x] test_wifi

[2019-11-15 09:47] SentryGA commented on #138
@alexpseletr are you still working on the port, could you share your progress? I might be of some help was planning to do it myself till i found this.

[2019-11-16 00:03] nobodywasishere commented on #41
I want to help get this running if I can, however I'm completely new to UB Touch. I already have a device setup with TWRP that I don't care about wiping either. Could you point me in the right direction for building for this device starting from the work you've already completed?

[2019-11-16 04:12] amichuda commented on #161
Hi I'm working on porting the 5x as well, how has it been going for you? Has it worked?

[2019-11-16 07:27] hagdervriese commented on #161
hi there, it was a bit dissapointing, i couldnt get the gui working. i think the rootfs is not optimized right for the arm64 architecture. because of that, an the fact that i am not experienced in porting, i gave up trying it. I got everything halium related build, but after after installing rootfs and starting it, i got stucked

Von meinem iPhone gesendet

[2019-11-16 12:10] Flohack74 commented on #41
Well I recently started a new tryout with using Halium 7.1 - Problem here is, S3 Neo never got an official CM 14.1 port, so it might be the wrong way. So far its booting but the Android container crashes due to wrong vendor blobs or idk. I will update here.

On the other hand, Halium 5.1 - which I used for the previous attempt, is not updated with important fixes right now. So you could get to the

[2019-11-16 16:48] nobodywasishere commented on #41
Does it have to be CM specifically? I know there's an unofficial LOS 14.1 on XDA and it just got official LOS 16.0 support as well.

[2019-11-16 21:01] amichuda commented on #161
Were you able to get past the boot screen? I installed it, but I'm getting a very fast bootloop, like the Google logo is there for less than a second and it reboots...

[2019-11-16 23:53] Flohack74 commented on #41
Unofficial ports do carry the possibility of being hackish, and that might make porting even harder. Currently you can only port for an Android 5.1 or 7.1 based device, and that means CM 12.1 or 14.1 back in those days. LOS 16 does not help at all, sorry.

[2019-11-17 08:01] hagdervriese commented on #161
no, it stays at the boot screen and was able to connect via ssh. but that was it, nothing more.

Von meinem iPhone gesendet

[2019-11-17 08:04] hagdervriese commented on #161
i could look, if i find the mk.config and the defconfig and sent it to you

Von meinem iPhone gesendet

[2019-11-17 09:25] 4soobs commented on #161
Might be a kernel panic. What does last_kmsg say?

[2019-11-17 09:33] amichuda commented on #161
How would I access that? As it stands now I have TWRP recovery on it... Can I read it through the terminal there?

[2019-11-17 09:34] amichuda commented on #161
That would be great. I tried to follow the meet checker and change my kernel config as per those recommendations, but I'm not sure I did it right...

[2019-11-17 09:35] 4soobs commented on #161
Yep! Wait until the kernel reboots, then boot into TWRP, plug your phone into your PC and fire up the terminal. Then type `adb devices` and make sure there is a device listed. After you made sure it's listed, type `adb pull /proc/last_kmsg/ ~/` The last_kmsg will be pulled into your home folder.

[2019-11-17 09:43] amichuda commented on #161
Hmm so it doesn't seem like I have `/proc/last_kmsg`, only `/proc/kmsg`... Could that help?

[2019-11-17 09:44] 4soobs commented on #161
Not sure, but paste it to pastebin, I will take a look.

[2019-11-17 09:53] amichuda commented on #161
Okay here it is:

https://pastebin.com/KiL6narD

[2019-11-17 09:58] amichuda commented on #161
Is it something here:

[code]

[2019-11-17 10:16] amichuda commented on #161
Also, based on:

https://docs.halium.org/en/latest/porting/debug-build/dmesg.html

it would seem that I can also look in `/sys/fs/pstore/console-ramoops`, but the `pstore` folder is empty, it seems...

[2019-11-17 10:24] amichuda commented on #161
Could this be an issue:

[code]

[2019-11-17 21:43] ghost commented on #163
I can't, it doesn't show any IMG files..

[2019-11-17 21:44] ghost commented on #163
Almost an hour, but it has been faster on other device tryhard ports that I tried to do and failed

[2019-11-18 03:34] 0312birdzhang opened #166 "[device-port] [vince]Xiaomi Redmi 5 plus"
Tree: halium-7.1

- [x] Create manifest https://github.com/Halium/halium-devices/pull/186
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps  (but with wrong timestamp)
  * [ ] test_hwcomposer
  * [x] test_lights

[2019-11-18 07:38] #146 closed, assigned to nobody

[2019-11-18 11:36] Flohack74 commented on #56
Update: Due to crashing kernel with lxc startup (Note: lxc is fine, just some Android service kills the kernel) I decided to compile LineageOS from scratch, just with my added CPU disable cmdline. LineageOS works fine, so I am thinking about taking again LineageOS sources instead the ones from @win8linux as I did so far before, to rule out any tainting.

[2019-11-18 13:21] win8linux commented on #56
Yes, I would recommend pulling sources from LOS since mine are quite old already.

[2019-11-18 16:47] joelkahan commented on #131
Any updates?

[2019-11-19 09:19] doniks commented on #161
Is this a duplicate of https://github.com/Halium/projectmanagement/issues/17 ?

[2019-11-19 11:10] KthulhuFtaghn commented on #138
seems inactive. i was gonna start working on a port, if any of you wish to join me.. email me at appcoin.news@gmail.com

[2019-11-19 12:24] ramasai-badam commented on #138
I have no knowledge on porting but know some Linux commands and how to
use terminal and programming .Let me know how can i help porting Ubuntu touch for Asus.

[2019-11-19 16:30] SentryGA commented on #138
I enquired in the halium telegram group they said that it only had support upto android 7, this means max pro m1 won't have support because it started at oreo. They asked me to wait or help them with developing halium for Android 8 support. There are instructions I can understand on how to port but I do not much understand how halium is made  I am not that capable, so thought of waiting for it.

[2019-11-19 17:30] amichuda commented on #161
It's definitely the same phone, but it seems like that user was able to go further then I was. Is there a place I can go to get their kernel config? That's the only thing that could be different from my case and their case right?

[2019-11-19 20:34] andyrtr commented on #43
I have a Scorpion_Windy and may be going to help if needed here. What's the status? Anything special to test? I guess I will have to setup my own build environment first and start a fresh build.

[2019-11-19 20:39] doniks commented on #161
here https://github.com/Halium/halium-devices/blob/halium-7.1/manifests/lge_bullhead.xml I assume. and @bhush9  and @UniversalSuperBox are hanging around in the irc/telegram channel: http://docs.halium.org/en/latest/porting/first-steps.html#getting-help

[2019-11-22 05:09] Supaiku commented on #95
I don't necessarily have development experience per se, but I'd love to support and am pretty good and research and being creative :p

What are the blocking pieces and next steps?
@Sergobot, do you think it's a feasible project?

It's not clear form the comments if the lack of graphics or the encryption breaking, etc is a deal breaker, or just a bump in the road.

Dual boot would be awesome, eh?!

[2019-11-23 17:02] mgood7123 commented on #64
LOS16 is stable if halium gets support for 16 (probably ready to become an official los port) https://forum.xda-developers.com/galaxy-s8/samsung-galaxy-s8--s8-cross-device-development/rom-lineageos-15-1-t3899829

[2019-11-27 09:26] emolution11 commented on #127
halium based on 7.1.1 and taimen was released with 8.0 treble structure is
incompatible but you know that...haven't seen any progress, and I've been
busy I may just initialize my research again

On Tue., Nov. 12, 2019, 18:23 Gregory Rudolph, <notifications@github.com>
wrote:

[2019-11-28 00:23] chaudharisuresh997 commented on #112
how to do this I want to install it can you give some detail documentation

[2019-11-28 18:17] jrobinson52 commented on #112
I no longer have my moto g (my younger brother is borrowing it) so I can't re-verify it at the moment. I will try to get back to you sometime this weekend

[2019-11-30 04:00] ghost opened #167 "[device-port] [j7xelte] samsung j7 2016"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-11-30 04:01] psksun05 commented on #167
<manifest><remote name="f" fetch="https://github.com/followmsi" revision="cm-14.1"/><project path="system/bt" name="android_system_bt" remote="los" revision="cm-14.1"/><project name="android_kernel_samsung_j7xelte" path="kernel/samsung/exynos7870" remote="v"/><project name="android_device_samsung_j7xelte" path="device/samsung/j7xelte" remote="v"/><project name="android_vendor_samsung_j7xelte" path

[2019-11-30 04:01] psksun05 commented on #167
`<manifest><remote name="f" fetch="https://github.com/followmsi" revision="cm-14.1"/><project path="system/bt" name="android_system_bt" remote="los" revision="cm-14.1"/><project name="android_kernel_samsung_j7xelte" path="kernel/samsung/exynos7870" remote="v"/><project name="android_device_samsung_j7xelte" path="device/samsung/j7xelte" remote="v"/><project name="android_vendor_samsung_j7xelte" pat

[2019-11-30 04:05] ghost commented on #167
manifest https://pastebin.com/avgrWs29

[2019-11-30 14:18] TheBluestBird commented on #63
Hey everyone,is the project alive? I just got the device and wish to experiment/help

[2019-11-30 14:21] SohnyBohny commented on #63
Yeah, maybe more than ever :tada:

See https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild/ and https://forums.ubports.com/topic/3253/oneplus-3-3t for more details

[2019-11-30 21:41] jrobinson52 commented on #112
I did not leave myself very good notes last year when I was working on this so I've effectively had to re-learn everything. I have gotten things to compile for both halium (via hybris) and ubtouch (via halium) however neither make it past the early init. I don't know much about early init of a linux system so I will need help debugging.

Here is how to duplicate my situation:

* Use halium-7.1 not

[2019-12-01 14:17] hekrause commented on #48
Hi guys,

I followed the documentation ![here](https://docs.ubports.com/en/latest/porting/building-halium-boot.html). Meanwhile i have tried it with the images from @dev-el and @tomjschwanke with the same result of being stuck. I think the error looks familiar to @ComLarsic problems. Maybe somthing changed since the first port?!

I flashed ```halium-boot.img``` with ```heimdall flash --BOOT heimda

[2019-12-02 01:49] TuxThePenguin0 commented on #131
Yeah sorry I haven't been working on this port lately since I have had other work and my other phone (Nexus 5X) gave up the ghost a second time, not to mention that I was having some trouble getting things like the sensors to work.

I have since bought another phone which I have spent some time getting UT working on and I will get back to the Axon 7 port eventually, it will just take me some time.

[2019-12-05 01:34] aalavandhaann opened #168 "[device-port] [Z00A] Asus"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-12-05 01:35] aalavandhaann commented on #168
For anyone inspecting and shall try to save me from sleepless nights starting today, please begin by looking into the xml I have created

[code]

[2019-12-05 12:59] ComradeDiana opened #169 "[device-port] [zeroltexx] Samsung S6 edge"
Tree: Halium 7.1

- [x] Create manifest
(Will upload when confirmed that it works)
- [x] Boot image and system image build successfully
(Will upload when confirmed that it works)
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_l

[2019-12-05 19:06] jalcine commented on #127
That'd be dope - I've been hoping and attempting to build this myselef.

[2019-12-11 10:51] mgood7123 commented on #64
Could it be possible to port halium to a higher version such as 15 or 16 ?

[2019-12-11 20:22] vanyasem commented on #64
@mgood7123 Maybe. Nobody has done this yet. Until then, let's drop the subject.

There are efforts on that, but this has nothing to do with this port per se.

[2019-12-15 13:09] raananelefant commented on #92
Let me know if you need a tester.

[2019-12-15 18:01] benclarkk opened #170 "[device-port] [falcon] Moto G"
yes
Tree: halium-7.1

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_au

[2019-12-16 11:02] Foxtrot47 commented on #92
I  was not working on this project. Been busy trying Android 10 ROM for 4a. But ..... Im gonna get back into it cause Android is boring.
@echosalik If ur interested I'll rent an Amazon cloud instance and try buding on it. But I forgot many of its setup . Would you kindly help me??

[2019-12-17 10:27] mgood7123 commented on #64
ok

[2019-12-18 09:12] PratyakshKaran opened #171 "Halium for X00TD"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2019-12-19 01:19] mathieujobin commented on #132
Can we keep this open for collaboration nonetheless?

I have a device and I am interested as well. but it would be my first port...

[2019-12-20 11:31] doniks commented on #132
Once you start the port, feel free to open a new issue. Issues with active porting going on, no matter how early stage are very welcome! Purely passive request aren't really useful.

Not to worry. Almost all ports are someone's first port. Start at docs.halium.org , join the tg/irc/matrix and give your port a shot!

[2019-12-20 15:23] echosalik commented on #92
I honestly don't remember anything myself. I have been busy with work so I haven't been able to try this out, also because this is my daily use phone. Plus I was waiting for hybris 8.
I had building problems with 7.1 kernels, mostly because by the time xiaomi released it's kernel, android 8 was out and people started developing for android 8, which actually meant 7.1 kernels were kinda buggy and u

[2019-12-20 16:26] mathieujobin commented on #132
Thanks @doniks I'm on tg

I did created a manifest file and tried to build it

https://github.com/mathieujobin/halium-devices/commit/f55568a720ad944a2d348b1de47cd0d121cc42fc

my blocker seems to be the the proprietary elements were taken down by DMCA
https://github.com/TheMuppets/proprietary_vendor_xiaomi

is there anything that replaces this?

is it possible to start from kernel source?

https://

[2019-12-20 21:01] doniks commented on #132
I see. That's a problem. It might be a showstopper down the road...

Maybe you can find another repo or ask in halium chat, or, I guess, you have all these blobs when you install android. They're inside. You should be able copy them out.

However, (I am not a lawyer), you are prob not allowed to give it to anyone else! But you can use them yourself.

[2019-12-21 17:30] ghost commented on #78
Any update on this?
Apparently it is [possible to launch linux on a P8](https://forum.xda-developers.com/p8lite/general/sailfishos-comming-to-p8lite-t3757231), but nothing stable.
Maybe with joined efforts :)

[2019-12-22 02:11] Foxtrot47 commented on #92
I'm too on Pixel XP 10.  Yeah there are lot of bugs.... So you're saying you won't return back. Ok then please close the thread if ur not building it

[2019-12-22 11:21] echosalik commented on #92
I am not returning anytime back soon. So yeah i think i should close the issue, reopen once i have time for it.

[2019-12-22 11:25] mgood7123 commented on #64
what is responsible for executing `/init`

[2019-12-22 13:00] vanyasem commented on #64
@mgood7123 Please join the [@halium](https://t.me/halium) chat on Telegram to get support

[2019-12-23 12:52] #140 closed, assigned to nobody

[2019-12-28 18:07] neyder06 commented on #67
hola @Lyuu17, disculpa ¿sera que todavía tienes la compilación?, estoy interesado en probarlo. gracias

[2019-12-30 23:01] jrobinson52 commented on #122
Any updates on this? I want to help

[2019-12-31 16:17] linsmod commented on #63
hi, I have compiled the halium project for op3 successfully , thank gentleman  's help (https://github.com/Halium/android_device_oneplus_oneplus3/issues/8) and thank @Vince1171  's  document (https://github.com/Vince1171/OnePlus3-T-Halium-Prebuild#how-to-compile)

I noticed that the release page provides the armhf version of ubuntu touch rootfs,
however the ubports-installer i tried previously is

[2019-12-31 16:41] linsmod commented on #63
I know somewhere must has some docs about how-to,,, but not sure is it updated with the porting progress.  So if we list it here, may help more people.

[2019-12-31 18:32] ernesst commented on #63
For the UBports rootfs : https://ci.ubports.com/job/xenial-hybris-edge-rootfs-arm64/

[2020-01-01 06:29] linsmod commented on #63
thanks, I'm trying to flush.

[2020-01-01 06:41] linsmod commented on #63
an error:
<pre><font color="#4CE64C"><b>tiny@tiny-Lenovo-V480</b></font>:<font color="#295FCC"><b>~/halium</b></font>$ halium-scripts/halium-install ~/ubuntu-touch-rootfs/ubuntu-touch-hybris-xenial-edge-arm64-rootfs.tar.gz out/target/product/oneplus3/system.img
please make sure the device is attched via USB in recovery mode

cleaning up
error: device unauthorized.
This adb server&apos;s $ADB_VENDO

[2020-01-03 00:36] archeYR opened #172 "[device-port] [sagit] Xiaomi Mi 6"
Tree: halium-7.1

- [x] Create [manifest](https://github.com/Halium/halium-devices/pull/190)
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [x] libhybris tests
  * [x] test_gps
  * [x] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [

[2020-01-03 09:10] daniel-root-smith opened #173 "[device-port] [trltexx] Samsung Galaxy Note 4"
Tree: <halium-7.1>

- [X] Create manifest

**stuck at breakfast trltexx -
... build/core/product_config.mk:268: *** No matches for product "lineage_trltexx".  Stop...

can I get some help on what my next step would be please?

Thank you in advance!

- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.

[2020-01-03 09:32] daniel-root-smith commented on #173
[trltexx_manifest.txt](https://github.com/Halium/projectmanagement/files/4018638/trltexx_manifest.txt)
[trltexx_manifest.txt](https://github.com/Halium/projectmanagement/files/4018639/trltexx_manifest.txt)

[2020-01-03 12:15] Indierock00 commented on #111
Hi! I have markw. How can I help you?

[2020-01-03 12:24] Butterneck commented on #111
Did you manage to boot? Lightdm works?

[2020-01-03 12:26] Indierock00 commented on #111
I didn't found the OS file. Where is it? And all sources. I can't see any manifest

[2020-01-03 12:28] Butterneck commented on #111
You should find almost everything on my github page. At the moment I'm not working at the porting, but I'm planning on continuing the work this late spring

[2020-01-03 12:35] Indierock00 commented on #111
https://github.com/manifests/xiaomi_markw.xml this page is not found. I'll see your repos

[2020-01-03 12:45] Butterneck commented on #111
I know. Follow the doc and you will find the manifest. You'll have to edit it accordingly, mine was rudimentally formed, it won't work for you

[2020-01-03 14:05] linsmod commented on #63
I resolved the problem by replace the ubports recovery to twrp recovery. :)

[2020-01-03 20:56] doniks commented on #173
Seems you are using some mix of branches .. lineage-15.1 in some places, cm-12.0-old in others ... probably you should be using cm-14.1 everywhere.

Also, fastest way to get help is http://docs.halium.org/en/latest/porting/first-steps.html#getting-help

[2020-01-04 00:05] daniel-root-smith commented on #173
They should be the same, I agree but I only found the kernel at the 12.0 level.  It synced without error, everything seems good.

When I use breakfast command with my device it stops, because my device codename is not officially supported and not on the device list when it does that check.

How do I get past choosing Which code name to put, or do I use asop-arm-Eng?

Or is the another way to get t

[2020-01-04 17:04] doniks commented on #173
Ok, I saw you spoke to @tyg3rpro in the tg chat. Seems he has another manifest that is further ahead

[2020-01-04 17:14] doniks commented on #160
@rlucins a separate issue in github for a problem with one individual port doesn't really make sense. I'm closing this one

[2020-01-04 17:14] #160 closed, assigned to nobody

[2020-01-04 17:18] doniks commented on #163
@WolfLink115-Porting are you still working on this? I'd say at least having a manifest is the minimum to have an issue. Even if it doesn't build, it would show others what doesn't work and avoid wasting effort.

[2020-01-04 17:20] doniks commented on #161
duplicate of #17

[2020-01-04 17:20] #161 closed, assigned to nobody

[2020-01-04 17:22] doniks commented on #171
@PratyakshKaran if you at least have a manifest, please reopen and link it here. I'm closing this for now

[2020-01-04 17:22] #171 closed, assigned to nobody

[2020-01-04 17:23] doniks commented on #170
please link the manifest

[2020-01-04 17:25] doniks commented on #169
please link the manifest

[2020-01-04 17:27] doniks commented on #162
please link the manifest

[2020-01-04 17:28] doniks commented on #153
if you have a manifest, please reopen and link it

[2020-01-04 17:28] #153 closed, assigned to nobody

[2020-01-04 17:28] doniks commented on #151
if you have a manifest please reopen and link it

[2020-01-04 17:28] #151 closed

[2020-01-04 17:29] doniks commented on #149
please link your manifest

[2020-01-04 17:29] doniks commented on #145
if you have a manifest please reopen and link it

[2020-01-04 17:29] #145 closed, assigned to nobody

[2020-01-04 17:29] doniks commented on #139
if you have a manifest please reopen and link it

[2020-01-04 17:29] #139 closed, assigned to nobody

[2020-01-04 17:30] doniks commented on #138
if someone ever gets anywhere with a port and at least has a manifest, I suggest you create a new issue and link said manifest

[2020-01-04 17:30] #138 closed, assigned to nobody

[2020-01-04 17:32] doniks commented on #127
if you have a manifest please reopen and link it

[2020-01-04 17:32] #127 closed, assigned to emolution11

[2020-01-04 17:32] doniks commented on #129
if you have a manifest please reopen and link it

[2020-01-04 17:32] #129 closed, assigned to tshering1980

[2020-01-04 17:36] doniks commented on #136
if you have a manifest, please reopen and link it

[2020-01-04 17:36] #136 closed, assigned to slimjimsoftware

[2020-01-04 17:36] doniks commented on #134
if you have a manifest, please reopen and link it

[2020-01-04 17:36] #134 closed, assigned to krshnn

[2020-01-04 17:42] doniks commented on #116
if you, (or someone else!) has a manifest please reopen (or maybe just create a new issue) and do link the manifest!

[2020-01-04 17:42] #116 closed, assigned to Paktosan

[2020-01-04 17:43] doniks commented on #114
dpaste link is dead. please share your manifest

[2020-01-04 17:46] doniks commented on #109
can you please update issue text with at least a link to the manifest, but really actually follow the issue template

[2020-01-04 17:46] doniks commented on #99
if you have a manifest, please reopen and link it

[2020-01-04 17:46] #99 closed, assigned to andreadelsarto

[2020-01-04 17:48] TejasSriv commented on #149
I think halium project is only for devices that have support for LOS 14, but since POCO F1 does not have LOS 14 support so I could not create a complete manifest file.

[2020-01-04 17:48] doniks commented on #94
if you have a manifest, please reopen and link it

[2020-01-04 17:48] #94 closed, assigned to heyrudra

[2020-01-04 17:50] lnjX commented on #94
@doniks Thanks for doing this stuff :)

[2020-01-04 17:56] doniks commented on #37
please link your manifest. actually please update the issue using the porting issue template

[2020-01-04 18:06] doniks commented on #149
ok. too bad :(

[2020-01-04 18:06] #149 closed, assigned to nobody

[2020-01-04 18:42] ghost commented on #114
I'm sorry I don't have it anymore

[2020-01-04 18:52] doniks commented on #114
too bad :(

[2020-01-04 18:52] #114 closed, assigned to nobody

[2020-01-05 06:12] joelghill opened #174 "[device-port] [taimen] Google Pixel 2XL"
Tree: halium-8.1

- [ ] Create manifest [google_taimen.xml](https://github.com/joelghill/halium-devices/blob/halium-8.1/manifests/google_taimen.xml)
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hw

[2020-01-05 08:26] doniks commented on #112
seems there is another porting issue for osprey: https://github.com/Halium/projectmanagement/issues/57 which is a bit further. Please collaborate!

[2020-01-05 08:28] doniks commented on #170
actually, I see there is an issue for falcon already. Please collaborate over there: #77

[2020-01-05 08:28] #170 closed, assigned to nobody

[2020-01-05 20:58] xonq commented on #122
No updates on my end - it's my daily driver still.

[2020-01-06 07:03] ANEP-ET opened #175 "[device-port] [n1awifi] Samsung Galaxy Note 10.1 2014 Edition (Wifi only)"
Tree:

- [x] [Create manifest](https://github.com/Halium/halium-devices/pull/192)
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [x] test_vibrator
  * [ ] test_wif

[2020-01-06 07:07] ANEP-ET commented on #175
It seems that the device sucessfuly booted into rootfs. (Using [Halium reference rootfs](http://bshah.in/halium/halium-rootfs-20170630-151006.tar.gz))
`usb 1-5: SerialNumber: GNU/Linux Device on rndis0 10.15.19.82`

[2020-01-06 14:21] ghost commented on #163
I kinda stopped working on it..

On Sat, Jan 4, 2020, 12:18 PM doniks <notifications@github.com> wrote:

[2020-01-06 14:54] doniks commented on #163
I see. Thanks for the response. Without activity AND without manifiest ... I'm closing this

[2020-01-06 14:54] #163 closed, assigned to nobody

[2020-01-07 09:22] Herrie82 opened #176 "Halium 8.1 - Help needed with Android inside LXC container"
I've tried to do quite some of the legwork for Android 8.1 based builds in order to get Halium 8.1 up and running. I've come quite a long way and am able to build the "minimal" (there's room for further cutting I'm quite sure) Android image for the following 3 targets (LG Hammerhead, Motorola Cedric and Google Taimen). The work is largely based on the existing modifications that were done in Haliu

[2020-01-07 09:25] Herrie82 commented on #176
@bhush9 @mariogrip @NotKit @fredldotme @doniks @JBBgameich @peat-psuwit @UniversalSuperBox @vanyasem @z3ntu Your input/suggestions are welcome :)

[2020-01-07 10:20] z3ntu commented on #176
This looks very bad:

[code]

Or if that isn't the actual problem the following lines look bad as well:

[code]

[2020-01-07 10:35] Herrie82 commented on #176
@z3ntu Thanks for these pointers. I'm not really sure how we would like to deal with SELinux, encryption etc at Halium side. I took some bits from Mer, but their implementation differs from others, so I'm a bit lost there.

I found this on vold, init_user0 and vdc: https://source.android.com/security/encryption/full-disk

Is this something we want to manage at Halium side?

[2020-01-07 10:47] z3ntu commented on #176
If you can give me the `init.rc` from your LXC container, I can tell you a bit more. But I would guess that the `/data/user/` folder doesn't exist, so a symlink to `/data/user/0` fails?
This doesn't have much todo with SELinux and/or encryption though

[2020-01-07 10:56] Herrie82 commented on #176
@z3ntu init.rc from lxc: https://paste.ubuntu.com/p/8Vbhwxn8F2/

Mounts: https://paste.ubuntu.com/p/mDynvSRZBG/

[2020-01-07 12:06] z3ntu commented on #176
Both `/data/data` und `/data/user` get created in the init.rc so I don't know why the `symlink` operation could be failing. Maybe `ls -al /data/data /data/user/` will give us more info?

That reminds me, something with symlinks was fixed in the 3.4 kernel with https://github.com/Halium/android_kernel_lge_hammerhead/commit/25437b2a54dd619a96e268ecaf303b089aa785e4 I believe, does your kernel include

[2020-01-07 12:11] Herrie82 commented on #176
@z3ntu

sh-5.0# ls -al /data/data /data/user/
/data/data:
drwxrwx--x    2 system   system        4096 Mar  6  2019 .
drwxrwx--x   40 system   system        4096 Dec 27 10:18 ..

/data/user/:
drwx--x--x    2 system   system        4096 Jul 30 08:01 .
drwxrwx--x   40 system   system        4096 Dec 27 10:18 ..
lrwxrwxrwx    1 root     root            10 Jul 30 08:01 0 -> /data/data

I'm using that k

[2020-01-07 17:15] tanevanwifferen commented on #115
My extra changes:

fixup mountpoints:

duplicate lib definitiions

vendor/app/DolbyVisionService/DolbyVisionService.apk
in device/lge/g6-common/proprietary-files.txt

device misses files

fix wifi permission

fix flags for lxc script

CONFIG_NETPRIO_CGROUP=n
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_MACVLAN=y
CONFIG_VLAN_8021Q=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_UNIX_DIAG=y
CONFIG_PACKE

[2020-01-07 19:00] Herrie82 commented on #176
@z3ntu Seems that some kernel commits are required that are not in Halium 5.1 kernel. I'll try to use LOS-15.1 kernel with updated defconfig or cherry pick required commits to 5.1 branch. I've reworked android_system_core to be cleaner because it was really messy, in order to remove any errors from there as well. Will let you know the results

[2020-01-07 20:30] tanevanwifferen commented on #115
running plasma doesn't seem to change anything. Still getting

`library "libscalar.so" not found`

when testing test_hwcomposer. If anyone knows how to fix this, please tell me. I've tried moving stuff in the kernel, but that broke other references, so I stopped going that way.  I also tried appending `/vendor/lib64` to `/etc/ld.so.conf`, and then running ldconfig, which didn't work. Tried rebooti

[2020-01-07 20:59] stefanomelchior commented on #115
Hello, I just got a h870 to support your porting. I hope to bring in my experience in porting UT on tenshi (BQ U Plus, almost finished).  @tanevanwifferen, did you save and upload last changes on official repo?

[2020-01-07 21:31] tanevanwifferen commented on #115
oh great, thank you. It is my first port ever, and also my first kernel experience ever. No, I haven't put anything in an official repo yet, was hoping someone more experienced could set it up correctly.

[2020-01-08 14:07] rymdllama commented on #115
Love to see that this was revived. I actually made most of the changes @tanevanwifferen suggested at one point, but as my G6 is my main phone I haven't been able to keep working on this. Big thanks to you too @stefanomelchior

[2020-01-08 16:35] tanevanwifferen commented on #28
for gsm, I get this error in logcat:

`02-19 14:44:04.015  2991  2991 E RILD    : dlopen failed: dlopen failed: library "/vendor/lib64/libril-qc-qmi-1.so" not found`

Which explains itself.

There are two files in vendor/htc/pme/proprietary/lib64
libril-qc-qmi-1-default.so and libril-qc-qmi-1-cdma.so
renaming the default one to libril-qc-qmi-1.so works for me, but not sure if that works over the w

[2020-01-09 08:48] Herrie82 commented on #176
@z3ntu Seems I'm chasing down a rabbit hole with a 3.4 kernel. I got the LineageOS 15.1 one to build, however it doesn't boot. Seems to get stuck in init at about the same point, however no ADB even this time. I think I'll switch to a more recent target with a 3.18 kernel for further attempts, just to make sure I'm not being held up by 3.4 kernel.

[2020-01-09 12:44] tanevanwifferen commented on #115
I must say I'm a bit blown away with how much work this is, and how much knowledge I miss. For me it's also my main phone, and I thought I'd just bang out the port in a weekend or so. Not sure if I have the time the rest of the year to work on this, and I'm not sure if I even want to. Maybe when my knowledge is a bit better.

I've bought a cheap htc 10 in the mean time, in which the porting is a b

[2020-01-09 13:08] doniks commented on #115
@tanevanwifferen Lol. "porting is a strange sadism"

Remember, everybody picking up a port is up against a very steep and high learning curve. I doubt that there are many ports that have been whipped together in a weekend. Now, of course I can't tell you whether this is how you want to spend your free time, but rest assured it is hard for everyone. There are no unicorns out there from whom porting

[2020-01-09 13:36] tanevanwifferen commented on #115
haha I know, everyone goes through the same learning curve. But it was really stressful not having a phone, expecting that it would work (even a bit) after a couple of hours / days of coding. Just had to alter my expectations. I must say I really enjoy doing it, but not with a phone that I am expected to be reachable on. And not under the pressure that I set myself on. But I'm not giving up yet. I

[2020-01-09 14:14] stefanomelchior commented on #115
@tanevanwifferen @rymdllama (maybe it is better to have this conversation on telegram, rather than on Github) did you set up a github/gitlab repo and sync all your latest changes in order to start working? I just downloaded those from Halium. Manifest is in, but fixup-mountpoints is missimg; tanevanwifferen's changes are missing in the official repo too
@doniks is it possible to get wite access to

[2020-01-09 16:12] doniks commented on #115
@stefanomelchior not sure I understand you right. You can make pull requests to all Halium repos

[2020-01-09 16:15] stefanomelchior commented on #115
Actually I can do it for tenshi device, as JBBgameich gave me write access a long time ago, but right now I would need it only for h870 device

[2020-01-09 18:02] doniks commented on #115
i still don't understand where you want write access to! Can you give a link?

Edit: Ah, I guess you mean here: https://github.com/rymdllama/ , to cooperate there you should speak to rymdllama Please align amongst you whether this makes sense, otherwise @stefanomelchior I suggest you create your own forks of the kernel etc and make a pr against halium to switch the manifest over to your repos.

[2020-01-09 22:56] stefanomelchior commented on #115
@doniks thanks, that is what I was planning to do.

[2020-01-12 22:30] Flohack74 commented on #56
Nearly 1 year later: Finally got GUI!!!
![grafik](https://user-images.githubusercontent.com/16186470/72226627-84a39880-3593-11ea-8f8e-c351a045642d.png)

[2020-01-13 01:19] phillipwalters commented on #56
Nice! Any special steps you had to take? How is it?

[2020-01-13 09:23] Flohack74 commented on #56
A lot of special steps. But now its snappy, boot time is awesome, sound works, vibrator, rotation and wifi works. Modem does not load firmware, and lot of other stuff not working now. But its a start.

[2020-01-13 09:25] testingweb624 commented on #56
Its fantastic work sir.

On Mon, Jan 13, 2020, 2:53 PM Florian Leeber <notifications@github.com>
wrote:

[2020-01-13 10:40] TuxThePenguin0 opened #177 "[device-port] [grouper] Asus Nexus 7 2012 WiFi"
Tree: halium-7.1

- [x] Create manifest https://github.com/Halium/halium-devices/pull/196
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_hwcomposer
  * [ ] test_wifi
  * [x] test_sensors
  * [ ] test_audio
  * [ ] t

[2020-01-13 12:27] doniks commented on #177
Not trying to discourage you, but FYI Canonical had supported this device at some point, but gave up and stopped

[2020-01-13 12:36] Flohack74 commented on #56
Thanks, you are welcome. Any alpha testers here who can spare the device for testing it a bit?

[2020-01-13 13:37] Flohack74 commented on #56
See also https://forums.ubports.com/topic/3678/call-for-testing-google-huawei-nexus-6p-angler-owners

[2020-01-13 16:13] ivdok opened #178 "[device-port] [marmite] Wileyfox Swift 2"
Tree: halium-7.1

- [x] Manifest: [wileyfox_marmite.xml](https://github.com/Halium/halium-devices/pull/195)
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test

[2020-01-14 00:23] tanevanwifferen commented on #115
I have PR'd fixup-mountpoints to the repo, and have pushed my changes to local repos. Also created a manifest which references my forks. @rymdllama do you want to be the maintainer, or should I or @stefanomelchior take over?

For my changes use this manifest, note that I moved the vendor folder from `/vendor` to `/vendor/lge`

[code]

[2020-01-14 01:29] TuxThePenguin0 commented on #177
I do know the Nexus 7 was dropped by Canonical but many new developments have happened since then including a newer kernel version being released by NVIDIA, if I find it's not possible to get the device to boot into Ubuntu Touch I will drop the port but I would at least like to try it first

[2020-01-14 08:24] doniks commented on #177
Nice! Good luck!

[2020-01-15 04:35] kodaxx commented on #56
I have a device to spare that I can load onto for testing

[2020-01-15 18:14] ivdok commented on #178
Currently, the progress is stalled by /vendor tree conflict. When I omit line 5 of [pull/#195 at halium-devices](https://github.com/Halium/halium-devices/pull/195), mka bootimage && mka hybris-boot succeeds, but systemimage fails because of lacking /system/bin/wcnss_service, and I've got a feeling there'll be more of these even if I drop one directly from vendor tree, bypassing CVS. When I add the

[2020-01-15 22:54] jbruechert commented on #178
Maybe running git diff in the vendor tree can help, since the halium-devices script tries to do some automatic modifications that make porting easier in most cases (Removing all apks and jars that are not used by halium). If the list of vendor blobs in the device tree (proprietary-files.txt) doesn't match the contents of the vendor tree, things will fail. Sometimes the diff allows to detect those

[2020-01-15 23:22] stefanomelchior commented on #115
With rootfs-arm64 from http://ci.upports.com, what I just tested and works:
- GUI
- wifi
- gsm (SIM detection and inbound)
- vibration
- ~~GPS~~ (not yet, 2020-02-01)
- screen rotation
- charging animation

[2020-01-16 14:17] Jaeder42 commented on #56
I can test as well

[2020-01-16 16:01] Xpl0itU commented on #143
Hey, mind sending the boot image, also, I saw in your blog that you used the stock android image, which is android 5.1, what if you try with the LOs 14.1 system.img?

[2020-01-16 16:08] mardy commented on #143
Hi @Xpl0itU, I will send you in the next couple of days (please remind me if you don't get anything). I didn't try with the LOs 14.1 image, but I will! Thanks for the hint!

[2020-01-16 16:11] Xpl0itU commented on #143
Sure, if you have telegram it would be better for me than github, if you do have it send me the alias if you don't mind

[2020-01-17 17:31] Xpl0itU commented on #143
Hey, have you tried?

[2020-01-17 19:52] ivdok commented on #178
By bad, turns out I've mistyped device instead of vendor. mka mkbootimg and hybris-boot succeeds, and systemimage fails for a [different reason](https://0paste.com/49885).
**aidl_language_l.cpp:1435:47: error: comparison of integers of different signs: 'int' and 'yy_size_t' (aka 'unsigned long') [-Werror,-Wsign-compare]**
If that's important, I'm building inside Ubuntu 16.04 LXC container for Prox

[2020-01-17 21:09] ivdok commented on #178
Exporting `LC_ALL=C` and `USE_HOST_LEX=yes` doesn't produce any noticeable improvements. Rebuilding just [repeats](https://0paste.com/49904) this error. Found [this](https://t.me/halium/99268) and [that](https://t.me/halium/92093) mention at Telegram/halium, but it doesn't seem like any (public?) solution has been reached.

[2020-01-17 21:13] ivdok commented on #178
Also, this:
[code]
But mer_verify_kernel_config didn't panic at my [Kconfig](https://github.com/ivdok/android_kernel_wileyfox_msm8937/commit/40c5855031c8061521783d7b39a2f37fd0b3d288). I know that it's not supposed to know everything about my kernel fork, but will these warnings result in a working boot image? IIRC, '!' is used to tell `make` to build these as separate modules, and I thought about

[2020-01-17 23:55] Flohack74 commented on #56
@Jaeder42 Ok, just follow the link above. If you wait until tomorrow afternoon you also get the new kernel with Bluetooth enabled :)

[2020-01-18 06:40] mardy commented on #143
Hi @Xpl0itU, no, I didn't try. I actually cannot find the system.img file for LOS, do you have a link?
I will upload my images to the website and paste here a link (probably later tonight).

[2020-01-18 11:31] Xpl0itU commented on #143
It's in the rom zip

[2020-01-18 11:33] Xpl0itU commented on #143
Oh, also, you need an adb-insecure recovery like multirom, but maybe twrp works

[2020-01-18 11:34] ivdok commented on #178
Upgrading container OS to `bionic` did not affect the error. However, replacing all exclamation signs in defconfig did the trick. Here's the [issue log](https://github.com/ivdok/android_kernel_wileyfox_msm8937/issues/1) for future reference.

[2020-01-18 18:50] ivdok commented on #178
Boot successfully flashed, but halium-install breaks on system partition creation:
[code]

Guess that's due to system.img only taking 465,5 MiB instead of 3Gb+ on actual device? Even after running repartitioning script for Project Treble support for my device (currently running highly volatile Android 9), which increased /vendor at the cost of /system, I still have 3.4G left. And even then, it onl

[2020-01-18 18:52] jbruechert commented on #178
Halium is installed to /data for debugging. Can you check you actually have enough space there?
If you used encryption previously, you will also have to reformat /data as ext4 preferably using TWRP.

[2020-01-18 19:03] ivdok commented on #178
Sorry, my mistake, I thought it was assembling image locally. Now it completed normally(-ish?):
[code]
But RNDIS interface doesn't appear in NetworkManager. Instead, I see QDL/EDL device, which usually indicates soft brick. Did I forget to flash something apart from boot/system? Will try to wipe device from TWRP beforehand.

[2020-01-18 19:14] ivdok commented on #178
halium-boot. Of course. How stupid of me.

[2020-01-18 19:29] jbruechert commented on #178
For debugging, halium places an ext4 image on /data, so you can easily back it up, swap it out easily etc. The partition on which the image is located still needs to be mountable by the initramfs (hybris / halium-boot)

[2020-01-18 20:47] ivdok commented on #178
It's something, at last. Kernel boots, but I don't think sshd is listening to 10.15.19.82 @ port 22.
[code]
When using DHCP, I get 192.168.2.90/24 ipaddr, and after `nmap -sS -p 22 192.168.2.0/24`, I get report that it's listening in 192.168.2.15:22, but `ssh phablet@192.168.2.15` is refused. -vvvv is useless at this point, it's the daemon that rejects connections.

[2020-01-18 20:51] ivdok commented on #178
Hmm, this gets interesting...
Telnet is listening on 192.168.2.15, but it looks like it's just bare ramdisk w/busybox. And judging by empty /etc/fstab I screwed up yet again.

[2020-01-18 20:58] jbruechert commented on #178
Did you already check diagnosis.log (for hybris-boot) / dmesg (for halium-boot)?

[2020-01-18 21:11] ivdok commented on #178
At first boot dmesg wasn't present on $PATH, which confused me. On second try, I've got [this log](https://0paste.com/50002), but it's FUBAR.

[2020-01-18 21:18] ivdok commented on #178
`> # CONFIG_QUOTA is not set`
`>[    6.218108] EXT4-fs (mmcblk0p34): Filesystem with quota feature cannot be mounted RDWR without CONFIG_QUOTA`

Time to rebuild the kernel yet again.

[2020-01-18 21:21] jbruechert commented on #178
This is your log filtered through `| grep initrd`. It should be clearer to understand now.

[code]

[2020-01-18 21:58] ivdok commented on #178
Actually... I don't get it. `fstab.qcom` is present in halium/device/wileyfox/marmite/rootdir/root, so by all means it should be populated. If I knew how to mount/extract boot-halium or system.img, I'd at least patch fstab if it's not present, but simg2img refuses to recognize them, and binwalk recognizes LZMA dicts and android bootimg format, but it's too much effort for no gain to actually split

[2020-01-18 22:44] ivdok commented on #178
[code]
Strange, looks like /data is recognized as corrupted by new kernel (but not by recovery), and e2fsck in my recovery is too old. Pulled static binary from [Ubuntu's repo](http://ports.ubuntu.com/ubuntu-ports/ubuntu-ports/pool/universe/e/e2fsprogs/e2fsck-static_1.45.3-4ubuntu2_arm64.deb), ran with -vf options, no errors. Booting back - same issue. What if I just disable this feature entirely?

[2020-01-19 07:43] areyoudeveloper commented on #92
hi im missing vendor rolex

[2020-01-19 07:47] echosalik commented on #92
Try this out.
https://github.com/PixelExperience-Devices/device_xiaomi_rolex
You can search for vendors by searching on github. Some repos have been bought down by DCMA so you might have to dig around forums like XDA.

[2020-01-19 08:40] areyoudeveloper commented on #92
ninja: error: '/home/darkness/Documents/halium/out/host/linux-x86/framework/signapk.jar', needed by '/home/darkness/Documents/halium/out/target/product/rolex/obj/APPS/PowerOffAlarm_intermediates/package.apk', missing and no known rule to make it
build/core/ninja.mk:151: recipe for target 'ninja_wrapper' failed
make: *** [ninja_wrapper] Error 1
make: Leaving directory '/home/darkness/Documents/hali

[2020-01-19 08:40] areyoudeveloper commented on #92
im use rolex vendor from muralivijay@github

[2020-01-19 10:56] ivdok commented on #178
[At least now it mounts](https://0paste.com/50129), but stuck in the inject loop.

[2020-01-19 11:06] ivdok commented on #178
And no, there's pleny o' space on device:
[code]

[2020-01-19 11:14] ivdok commented on #178
`[    7.343705] No init found. Try passing init= bootarg.`
I guess that's my progress-blocker for now.

[2020-01-19 11:35] rlucins commented on #169
Please link the manifest. I got this device too, and my vendor files seem to be messed up, please, please link the manifest for me.

[2020-01-19 11:38] ivdok commented on #178
Got this bit that needs attention:
[code]
That's strange. fdisk doesn't recognize them as valid:
[code]
Obviosly it can't and shouldn't mount misc and config, these are private vendor partitions with no distinguishable FS, but recovery and boot are 100% legit, TWRP and halium-boot respectively.

[2020-01-19 12:47] echosalik commented on #92
~~What java version are you using?~~
Try this link:
http://docs.halium.org/en/latest/porting/common-system-build-errors.html

Also, try using the IRC channels, those might be more helpful.

[2020-01-19 14:30] mardy commented on #143
Hi again, here are the links to the hybris and halium boot images:
http://www.mardy.it/archivos/ubports/hybris-boot.img
http://www.mardy.it/archivos/ubports/halium-boot.img

I still haven't had the time to try the LOS image.

[2020-01-19 16:40] ivdok commented on #178
Sorry, I can't do this. Keeping track all across disjointed chat logs while also strictly asking specific things only in specific chats, keeping open 3 different halium-related wikis and dozens even remotely related pastebin snippets and google queries just in case something will work is too stressful for a weekend project.

[2020-01-19 18:18] doniks commented on #178
Sorry to hear @ivdok Since there is a manifest, it builds and it boots, I'll reopen the porting issue. Even if you are frustrated by the outcome, it can still be helpful if someone else with the device comes around and wants to push this further. Thanks for the effort!

[2020-01-19 18:31] enesutku07 commented on #137
g2 fixup-mountpoint
"d802")
       sed -i \
            -e 's block/platform/msm_sdcc.1/by-name/boot mmcblk0p7 ' \
            -e 's block/platform/msm_sdcc.1/by-name/recovery mmcblk0p15 ' \
            -e 's block/platform/msm_sdcc.1/by-name/cache mmcblk0p31 ' \
            -e 's block/platform/msm_sdcc.1/by-name/persist mmcblk0p14 ' \
            -e 's block/platform/msm_sdcc.1/by-name/system mm

[2020-01-19 19:28] ivdok commented on #178
It doesn't boot, only useless cryptic debug initramfs.

[2020-01-19 20:17] hugobulnes opened #179 "[device-port][n5110] Samsung Galaxy Note 8.0 16GB Tablet n5110"
Tree:

- [x] Create manifest [n5110-manifest](https://github.com/hugobulnes/halium-devices/blob/halium-7.1/manifests/samsung_n5110.xml)
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  *

[2020-01-19 21:10] doniks commented on #178
Ah, ok. Then maybe missread, I thought you had telnet and even 10.15.19.100. Well, either way, even if we're just documenting what didn't work, this can be helpful for other porters. So, let's keep it open

[2020-01-20 12:36] aviwad commented on #71
Hi! How would I go about installing Plasma Mobile, UBports, or Phosh on the LuneOS image of Halium on my Xiaomi Redmi Note 4? Sorry for the noob question!

[2020-01-26 12:54] rach-id commented on #88
Hello,
any updates on the progress of this porting ?

[2020-01-26 14:04] dsankouski commented on #88
Hello, @SweeXordious .

Halium(and consequently libhybris) is temporary solution to get various OSes running, but it doesn't solve the major problem of android phones today, that is outdated kernel and vendor proprietary binaries.

So, I  switched my efforts towards [PostmarketOS](https://postmarketos.org/). To be precise, I now trying to get serial output from bootloader and kernel, and then even

[2020-01-26 15:57] rach-id commented on #88
Will check them,
Thank you so much :D

[2020-01-26 18:45] ExTimTV opened #180 "Samsung Galaxy TAB A6 SM-T285 [gtexslte]"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-01-26 22:35] stefanomelchior commented on #115
@rymdllama I just created a call for testers in [UBports forum](https://forums.ubports.com/topic/3729/ubuntu-touch-on-lg-g6-h870-model-call-for-testers). Can you share to Tane and me a telegram's account in case you want to keep on working on h870? Thanks
You'll see I forked your repos to work on my branch

[2020-01-27 16:29] 4soobs opened #181 "[device-port] [zeroltexx] Samsung Galaxy S6 edge"
Tree: halium-7.1
Used UT rootfs: ubuntu-touch-hybris-xenial-arm64-rootfs

- [x] Create [manifest](https://github.com/Halium/halium-devices/pull/309)
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- libhybris tests
  * [x] test_gps
  * [x] test_hwcomp

[2020-01-28 19:58] GetAGripGal commented on #63
Heya, how well does plasma mobile work with this? If at all?

[2020-01-29 10:30] ComLarsic commented on #63
Heya, how well does plasma mobile work with this? If at all?

[2020-01-29 14:51] rymdllama commented on #115
@stefanomelchior I'd love to keep working on it. [Here](https://t.me/nikurasu) is my telegram, hit me up and we'll keep talking there.

[2020-02-01 12:40] vanyasem commented on #63
@ComLarsic please read the issue

[2020-02-01 17:28] dmipin02 opened #182 "test"
test

[2020-02-01 21:24] basxto commented on #148
Generic System Images are not built for specific devices and instead run on hardware abstraction layer of Project Treble, which got introduced with Oreo. It seperates Android and the drivers of the chipset makers.

https://github.com/phhusson/treble_experimentations/wiki/Generic-System-Image-(GSI)-list

[2020-02-03 10:55] ittat opened #183 "[device-port] [onyx] OneplusX"
Tree: halium-7.1

- [x] Create manifest : https://github.com/Halium/halium-devices/pull/202
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps
  * [ ] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [x

[2020-02-07 05:08] retro486 commented on #98
Thanks for this! I just wanted to add that in order to get OTAs to install (if desired) people need to do this additional step:

`fastboot flash recovery $PROJECT_ROOT/out/target/product/$DEVICE/recovery.img`

This will replace TWRP (presumably if they flashed it and didn't just fastboot boot it) with the Ubuntu Touch recovery allowing installs of downloaded OTAs.

[2020-02-08 08:39] doniks commented on #92
@areyoudeveloper thanks for PR https://github.com/Halium/halium-devices/pull/203 I'm reopening this if you want to continue here. If you want to start over with a new one, feel free to close again

[2020-02-09 11:23] doniks commented on #169
no response. I'm closing this here. Feel free to reopen or make a new one when there is a manifest

[2020-02-09 11:23] doniks commented on #162
no response. I'm closing this here. Feel free to reopen or make a new one when there is a manifest

[2020-02-09 11:23] #162 closed, assigned to nobody

[2020-02-09 11:26] doniks commented on #152
could you share your manifest? the links don't work

[2020-02-09 11:29] doniks commented on #126
no manifest. I'm closing this here. Feel free to reopen or make a new issue when there is a manifest

[2020-02-09 11:29] #126 closed, assigned to rkssomayaji

[2020-02-09 13:39] gussi362 opened #184 "[device-port] [hltechn] Samsung Note 3 China"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [x] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-02-09 14:00] gussi362 commented on #184
porting hltechn(the galaxy Note 3 china) to UT , a summary to what i was able to get:
-device boots.
-audio working ,test do fails.
      -audio in call doesn't work ,the fix from the porting faq doesn't help (libhybris issue i suspect)
-telephony (wifi,hotspot,therting,reverse threting , network  ,3g,2g,calling ,receving a call ,sms,no buletooth ,nfc or gps )
-no camera,and can't play videos yet.

[2020-02-09 15:16] GetAGripGal commented on #63
@vanyasem I did, however there arent many updates on how it works, would like to install PM on my phone

[2020-02-10 13:38] vanyasem commented on #63
@ComLarsic because it's not consumer ready frankly. and if you cannot read the docs, you probably shouldn't be playing with Halium

[2020-02-10 14:05] GetAGripGal commented on #63
@vanyasem i can read the docs, was just looking for information about this specific device. But thx for your help I guess.

[2020-02-11 15:14] vanyasem commented on #63
@ComLarsic well in that case the issue has all the information you might need, feel free to ask any specific questions if you get stuck

[2020-02-11 19:22] wqhjstudios commented on #34
hey guys, I would like to contribute thru my phones : 1-moto e5 play; 2-lg stylo4. let me know how I can help, anytime, and I mean that. I'm a retired teacher /disabled veteran /ostracized husband and father. i, literally, spend all day and nite watching the paint on my walls continue to dry, as i pray for a quick end to my lonely, painful life, as i escape into the interwebs bc i can NOT escape f

[2020-02-13 10:33] ghost commented on #41
can I use this on a s3 international lte

[2020-02-13 10:33] Flohack74 commented on #41
@RadGade sry no, thats a totally different device.

[2020-02-13 10:36] ghost commented on #41
@Flohack74 all good, looks like I gotta make a port also where is the best place to ask questions if run into problems during the port

[2020-02-13 22:12] Flohack74 commented on #41
Better not port it: It has Kernel 3.0 and thats wayyyy too old...

[2020-02-15 11:41] dmipin02 commented on #182
Found a duplicate. Lost interest in the project.

[2020-02-15 11:41] #182 closed, assigned to nobody

[2020-02-18 07:35] alefnode commented on #122
Same here

[2020-02-26 18:20] alpharde commented on #168
Tried to build halium for Ubuntu Touch, I have almost zero experience in building android et all.
A couple of modifications to the XML file:

[code]

However the build tool asks for some vendor files that the proprietary_vendor_asus doesn't have. Can I get some help on this?

[2020-02-27 06:47] elken opened #185 "[device-port] [dumpling] OnePlus 5T"
Tree: halium-7.1

- [x] Create [manifest](https://github.com/Halium/halium-devices/pull/205)
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [

[2020-02-27 19:59] #185 closed, assigned to nobody

[2020-03-03 18:34] Flohack74 commented on #105
Any activity still here? Modem does not work because Samsung uses an incompatible RIL layer that will not work with ofonod out of the box. I fixed this for S3, and probably same stuff needs to be done for other Samsungs...

[2020-03-05 07:45] rogieroudshoorn commented on #105
Not really, ordered a pinephone so i'd have something that is usefull for a much longer term ... still have the phone laying around somewhere if there's something you'd like to me test though!

[2020-03-05 19:03] Fishycrackers opened #186 "[device-port] LG G2 lge-d800"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-03-06 08:02] JulianGro commented on #36
So.. is there ever going to be an update for this?
Has anyone actually gotten this to work?

[2020-03-07 21:38] Flohack74 commented on #105
Well interesting question first, can you look in your device tree if there is a *RIL*.java class to be found (* means something could be written before or after the word RIL). You might want to search in the original tree since Halium tends to strip out those files.

[2020-03-12 16:30] l3lackShark opened #187 "[device-port] [scorpio] Xiaomi Mi Note 2"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [x] test_gps (partially)
  * [x] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [x] test_wifi
  * [x] test_sensors
  * [x] test_audio

[2020-03-13 07:48] APokorny commented on #150
Any news on this one?
What changes to the xperia X tree were necessary? Is there a manifest xml?
I assumed the device had a different SOC, camera and display.

[2020-03-13 13:00] gpenland commented on #175
Would you mind explaining which device this is exactly? I have a Samsung Galaxy tab 2 7.0 wifi only (aka espressowifi) and would like to collaborate and speed up the process! I can also supply extra computing power.

[2020-03-13 13:43] fredldotme commented on #150
@APokorny there is a manifest repo in @sjllls account here: https://github.com/sjllls/halium-devices

A few things have changed since then. Basically I made sure that everything in the device-sony-common repo can be reused by other Sony devices. ~odmfirmware.mk is an exception, that should be reverted in the common repo and placed in the suzu repo instead.~ Though everything else should help kicks

[2020-03-16 18:51] Gravityhub commented on #172
Are you working to continue this project ?

[2020-03-16 19:46] archeYR commented on #172
Currently I'm not working on it. Last time there was (another) blocker, that I couldn't figure out.

Here is how it goes when booting hybris-boot, if anyone is interested: https://paste.ubuntu.com/p/KPFVFzghZs/

[2020-03-17 05:17] Danct12 opened #188 "[device-port] [lavender] Xiaomi Redmi Note 7"
Tree: halium-9.0

- [X] Create manifest
- [X] Boot image and system image build successfully
- [X] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [X] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [X] test_hwc2
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [

[2020-03-17 12:08] likeadragonmaid commented on #132
@mathieujobin I am using https://github.com/shoukolate/android_vendor_xiaomi_sdm660-common and https://github.com/shoukolate/android_device_xiaomi_wayne vendors for MI A2 for building LineageOS 17.1. They might be useful for you.

[2020-03-17 17:06] Gravityhub commented on #172
Ok thank you anyway

[2020-03-18 07:30] mathieujobin commented on #132
Oh @shoukolate thank you so much

How far did you get? Does it run nicely?

[2020-03-18 07:41] likeadragonmaid commented on #132
I have only built LineageOS and everything works on it

[2020-03-24 13:37] ghost opened #189 "[Device-Port] LG G Stylo"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-03-24 13:41] ghost commented on #189
https://pastebin.com/yFtiyNKE

Log file of what is in the Terminal when it fails...

[2020-03-24 14:07] ghost commented on #189
OK, so with a bit more troubleshooting, i got halium-boot.img to build successfully. now im stuck on the build systemimage pary, it fails saying slim_daemon file wasn't found in the vendor directory, have i gotten the wrong blobs?

[2020-03-24 15:52] ghost commented on #189
ok, now with a bit more changes, i got halium-boot and systemimage built successfully. now it is just a matter of debugging and getting it to boot operating systems!

[2020-03-25 04:38] mathieujobin commented on #132
maybe it would be value to others if you could publish the build somewhere

[2020-03-25 07:36] likeadragonmaid commented on #132
@mathieujobin https://forum.xda-developers.com/mi-a2/development/10-x-lineage-17-0-jasminesprout-t3966643

[2020-03-27 05:42] doniks commented on #189
Why did you close it? Also could you please make a PR to share your manifest http://docs.halium.org/en/latest/porting/get-sources.html#document

[2020-03-27 14:16] ghost commented on #189
I don't know what a manifest is, wait.. Don't you mean the xml file that fetches the repo files?
edit: how to create a pull request also?

edit 1: https://github.com/Halium/halium-devices/pull/209/commits/4342840b94ef2217661a91534317f3df1ac3efc9   pull request

[2020-03-31 07:02] degdag commented on #172
So would you work again on this project or you give up ,
If you still intersted we can works together on this , i also doing mainelining of this device and for now i can boot 5.6-rc7 on this device with working fb and display and ufs storage as well as the power button , curren processe is getting usb to work on maineline , there is also a workin linux destro (postmarketos) that use mi6 kernel and

[2020-03-31 17:51] archeYR commented on #172
Very nice! I'm especially interested in getting mainline kernel working, do you have any repo for your work? :) And yeah, in this case I'm interested getting Halium to work sooner. It is also interesting that you could get it further with the kernel from pmOS port, how well it works?

[2020-04-02 18:59] ghost commented on #189
anyone??

[2020-04-02 19:12] ghost commented on #189
@doniks

[2020-04-05 07:11] ghost commented on #84
Hi! Anyone interested in getting this running? Lets collaborate

[2020-04-05 07:38] Herrie82 commented on #84
@Coffee-Overflow we have it working with LuneOS which uses the Android rootfs built by Halium. So I'm not sure what else you want to get running?

[2020-04-08 17:45] wiredsis opened #190 "[device-port] [laurel_sprout] Xiaomi Mi A3"
Tree: halium-9.0

- [x] Built kernel
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [x] libhybris tests
  * [x] test_gps
  * [x] test_hwcomposer
  * [x] test_lights
  * [x] test_vibrator
  * [x] test_wifi
  * [x] test_sensors
  * [x] test_audio
  * [x] test_camera
  * [x] test_input
  * [ ] ~~test_nf

[2020-04-08 20:17] wiredsis commented on #190
Development has already started from maffeen. Will abandon development from scratch and participate in maffeen's port.

[2020-04-08 20:36] Inokinoki commented on #45
I'm willing to continue the work. Thanks very much for all your information which helps me build an image for op5.

Up to now, it seems that the `system.img` and `hybris-boot.img` is built successfully.

I'm going to validate whether it will work.

[2020-04-10 09:08] doniks commented on #189
hey. yep that xml. that xml was the reason why you ticked the "manifest" box in your checklist, right ;) Seems you also figured out the PR. Thanks!

[2020-04-11 20:29] praseodeveloper opened #191 "[device-port] [tilapia] Asus Nexus 7 2012 3G"
Tree:
halium-7.1

- [X] Create manifest  https://github.com/Halium/halium-devices/pull/212
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ]

[2020-04-12 05:57] doniks commented on #191
hey @praseodeveloper have you seen the grouper port? https://github.com/Halium/projectmanagement/issues/177 I'm not sure how similar the hw is between these two, but maybe it would make sense if you cooperate with @TuxThePenguin0

[2020-04-12 19:39] deepsidhu1313 commented on #19
i was able to boot Ubuntu touch. Thank you for your contribution. Still not able to use device afterwards.

[2020-04-13 18:05] praseodeveloper commented on #191
@doniks, Had a quick chat with @TuxThePenguin0 on Telegram.
He did not have a branch containing his changes handy. Plus, it has been a few months since he worked on this.

[2020-04-17 00:40] dopaemon opened #192 "[device-port] [whyred] [Halium-9.0] Xiaomi Redmi Note 5 Pro/AI"
# Tree: [Halium 9.0](https://github.com/Halium/halium-devices/pull/213/commits/ffd096145029b042c6377b2887f89b625759aed9)

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [x] libhybris tests
  * [ ] test_gps
  * [x] test_hwcompo

[2020-04-17 15:36] stefanthaler opened #193 "Moto Z / Motorola Griffin"
Tree: halium-7.1

- [x] [Create manifest](https://github.com/Halium/halium-devices/pull/215/commits/4384cf02a6e93e07c524a851fd59051f30a02ffe)
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcompose

[2020-04-20 05:11] wiredsis commented on #190
maffeen has not advanced that much in the port, so I'm reopening this issue.

[2020-04-20 05:19] wiredsis commented on #190
We got the phone booting and on SSH with Erfan's UBports GSI. LXC container fails because of CONFIG_CGROUP_SCHEDTUNE not being set as disabled. Currently cloning ALS Fenix so I can rebuild the kernel with that option set at disabled.

[2020-04-21 07:32] shazam99 commented on #34
I want to use the rom for moto g4play
Is it ready to use????

[2020-04-21 07:44] shazam99 commented on #34
Is it ready to use???

[2020-04-21 12:13] #155 closed, assigned to nobody

[2020-04-21 18:06] degdag commented on #172
Well i have problem with internet thouse days so i couldn't upstram my work but you can easly get it . My work based on oneplus 5 . Well if you want any info you can ask me i will do my best .
If you wan to try the mainline kernel just clone onepluse mainline kernel from github and i will give you the dts file for mi6

[2020-04-21 18:12] degdag commented on #172
The kernel from pmos not stable as what we want
usb networking : works
Touchscreen     : works
Display               : works
Otg                      : works
Tested UI (working)            : mate , xfce4 , gnome , plasma desktop (not mobile)
Tested ui (not working) : the rest

[2020-04-21 19:38] archeYR commented on #172
Yes, a dts would be nice, thanks :) As for the Halium port, there is [another one](https://github.com/UbPorts-sagit) based on the halium-9.0 tree. It already boots to UT, although many things are not working yet.

[2020-04-21 19:56] degdag commented on #172
Well here is my repo now working
https://github.com/degdag/mi6-mainline

[2020-04-21 20:33] degdag commented on #172
So what's working and what's not yet ?
I realy interested to run UT on my mi 6

[2020-04-21 22:04] archeYR commented on #172
What works:
RIL (Calls, SMS), Dual-SIM, touchscreen, power button, Bluetooth (unstable).
What doesn't:
WLAN, modem (internet connection), GPS, brightness control, rotation, vibration, flash light, camera, volume buttons, front buttons, and probably more...

[2020-04-21 22:25] wiredsis commented on #190
UBports booted to GUI succesfully. The following steps are getting most of the hardware working.

[2020-04-22 04:52] wiredsis commented on #190
Audio is partially working. After several reboots I got it working a bit.

[2020-04-22 07:42] degdag commented on #172
i managed to get usb to work on mainline this night and yes usb is workin now .
the next is to get  usb otg and touchscreen to work

[2020-04-25 09:23] nickg commented on #48
I've made some progress on this. The journald hang is caused by it polling some battery properties in `/proc` that are not implemented in the Samsung driver. It just gets stuck in a loop for some reason. Patch here: nickg/android_kernel_samsung_universal8890@ece74b36

The above kernel repository also includes an updated defconfig for Halium (disables `CONFIG_ANDROID_PARANOID_NETWORK` among other t

[2020-04-25 19:50] wiredsis commented on #190
Ok. libwifi-hal needs to be built and we should have working Wi-Fi.

[2020-04-25 22:47] WolfLink115-Porting opened #194 "[Device Port] LG W5"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-04-29 02:18] jrobinson52 commented on #122
I've restarted my work on this but I've run into a problem. I've gone to flash the built images to my phone but after flashing hybris-boot.img I can't get into recovery to run the halium-install script against it. Am I missing a step somewhere in the documentation?

[2020-04-29 18:29] doniks commented on #122
That is surprising. Flashing Boot should not influence the workings of recovery. But then, I see talk of A/B above, and I've never touched such a device.  I guess you have seen this:  https://github.com/Halium/projectmanagement/issues/122#issuecomment-525831091
Does that help at all? How exactly did you flash boot? How are you trying to enter recovery? Can you fastboot boot twrp.img ?

[2020-04-30 01:49] jrobinson52 commented on #122
I re-flashed the stock image before starting this process. I follow the steps in #122 but when I go to boot into recovery (via fastboot command on phone or by rebooting and holding PWR & VOL+) the phone either reboots into fastboot mode or has the Essential logo and some small text at the top corner that says 'Press a button to shutdown'. I tried doing `fastboot boot twrp.img` but I get an error:

[2020-04-30 06:15] doniks commented on #122
But you are sure that you ARE in fastboot mode right? When you say `fastboot devices` you get a proper response?

[2020-04-30 12:32] jrobinson52 commented on #122
Yes, I am in fastboot mode and it shows up normally when running `fastboot devices`

[2020-05-01 00:24] doniks commented on #122
mhm ... bootloader is unlocked?

[2020-05-01 00:59] jrobinson52 commented on #122
Yes, unless flashing stock re-locks it.

[2020-05-01 14:57] #194 closed, assigned to nobody

[2020-05-01 14:57] WolfLink115-Porting commented on #194
Lost access to device, Closed.

[2020-05-02 00:19] jrobinson52 commented on #122
Update: TWRP boots after flashing but when it does it simply displays the error in the top left saying to press a key to shutdown

[2020-05-03 21:53] jrobinson52 commented on #122
I got ahold of another phone, I'm able to flash twrp normally to it. Looks like the phone I was using gave up the ghost. Unfortunately, after flashing twrp to slot a, flashing halium-boot to slot b, switching back to slot a to run halium install, then switching back to slot b to boot the installation, I simply get a boot loop.

There's no information in the dmesg output and the screen on this phon

[2020-05-05 21:49] dragynbane222 commented on #122
If it helps, starting tomorrow my Mata won't be my DD, and it's in good condition, so I can put mine towards texting.

If it helps, starting tomorrow, my. Mata won't be my DD, so I can put it towards testing. It's in good condition (only a small crack on the back on one of the corners), so I should be able to get a shot of what shows up on the screen

[2020-05-06 23:47] jrobinson52 commented on #122
Thanks for the help. If you want my current build, I have links for the [halium-boot.img](https://nextcloud.jrrobinson.site/index.php/s/rsF9MXHj2gtY687) and the [system.img](https://nextcloud.jrrobinson.site/index.php/s/aZKbZJ4Ttnf9K7a)

(Both links expire this Saturday May 9)

[2020-05-07 23:00] dragynbane222 commented on #122
So I just tested, there's no meaningful output, simply the Essential boot logo on every attempt at boot. Sorry I couldn't find anything more meaningful

[2020-05-08 19:36] VoXaN24 commented on #169
If you would the manifest :
https://github.com/Exynos7420/local_manifests/blob/nx-10.0/zero.xml

[2020-05-08 20:25] jrobinson52 commented on #122
Thanks anyways. I'd love to keep working on this but now my working phone is exhibiting the same issues as the non-working one. I've tried both Windows and linux to see if that was the issue along with multiple cables. Not being able to flash twrp puts me at a stand-still for now. I'll get back to you if I have any progress

[2020-05-09 02:46] Chakosai opened #195 "samsung grand dous"
Tree:

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-05-09 05:39] doniks commented on #122
does it?

[2020-05-09 11:05] abkro commented on #48
Hi all.
A couple of weeks ago I started a port effort for this device but somehow managed to overlook this thread and all the info here.

Anyway, I had no trouble building and installing halium-boot.img and the ubports armhf rootfs. The only thing I needed to do was to fix the kernel config. Then, after some initial difficulties some of you guys have experienced, I managed to get an ssh connection

[2020-05-11 19:26] abkro commented on #48
Notes on building UBPorts Ubuntu Touch for Samsung Galaxy S7 (codename herolte)

By Ari Börde Kröyer (Telegram @aribk)

May 1, 2020

-----------------------------------

The following is simply a collection of notes from my porting progress. I hope it encourages more people to build for this device and share progress so we soon can have a fully functional port. I am no expert, but I can read and f

[2020-05-12 11:35] Flohack74 commented on #125
@stefanomelchior can you tell us if you have abandoned this port, and what has happened so far?

[2020-05-12 16:48] wiredsis commented on #190
Wi-Fi is working. Last things to get working are video recording, calls, mobile data and fingerprint.

[2020-05-15 08:19] kskarthik commented on #80
@rupansh @SRIDHARDV any update on this? I have a land device! What are the hurdles present to make ubuntu touch workable?

[2020-05-15 14:43] ransome1 commented on #157
Hi @JonnyMe,

did you build anything with this manifest successfully for the X5?

I'm following the official Halium doc and when syncing with this manifest, the mer-kernel check is full of warnings and so is the build process.

Would be great hearing from you as I am stuck building a halium LOS image.

[2020-05-15 15:27] JonnyMe commented on #157
@ransome1 hi! It's been a while I tried and honestly I can't remember, I remember I was stuck but I had some other stuff passing by and unfortunately I abandoned this porting. Warning aside does it build something? As per the build process I'm not surprised you get tons of warning and you should not worry..

[2020-05-15 15:34] ransome1 commented on #157
It kind of builds yeah, but after so many warnings I aborted every time. I can let it run through, check out the results and let you know, if you're interested.

[2020-05-15 15:53] JonnyMe commented on #157
Well it should be useful to anyone interested in Halium to know the result if you have time to let it compile :-)

[2020-05-16 11:29] stefanomelchior commented on #125
No, at all. I only trying to end up tenshi porting for UT, then get back to bardock.
Noteworthy bardock is Android-8 based, so it needs halium-8.1 or later support

[2020-05-16 11:52] SRIDHARDV commented on #80
@kskarthik  Currently i didn't have my land device, but Ubuntu Touch is working with my Repo, there is some common problem like no Audio and Call. Display, touch, SIM card, SMS are working give it a try. if you had time please contribute to Ubuntu Touch as well, Use Telegram app for getting community support.

[2020-05-16 18:43] wiredsis commented on #190
Video recording is working!

[2020-05-17 08:35] kskarthik commented on #80
@SRIDHARDV thank you for the info! I am intented to port ubuntu touch to it. Can you please link me ubports telegram group. Also, I'm new to ubuntu porting. I am familiar with sailfish & postmarketOS porting previously. Can you help me with getting familiar?

[2020-05-17 23:46] jrobinson52 commented on #122
I finally have my phone working again. Turns out there's some oddities with an android 10 installation and TWRP. I've also learned the distinct difference between `fastboot continue` and `fastboot reboot`. With that sorted out, I'm back to working on it and will keep you posted on any updates

[2020-05-18 11:43] kskarthik commented on #80
@SRIDHARDV `<project path="vendor/xiaomi" name="proprietary_vendor_xiaomi" remote="them" />`

TheMuppets repo doesn't have proprietary vendor xiaomi now :/ what to do ?

[2020-05-19 04:49] doniks commented on #80
does this https://github.com/Halium/android/commit/6327909e621b843f25bbfdc4c093b10afcdeb530 help?

[2020-05-20 10:15] kskarthik commented on #80
@doniks it should help. Thanks! Forked it on my gitlab acc for archiving purpose.

[2020-05-20 10:47] luka177 commented on #41
Yes for s3 mainline is better.
Butw dose plasma mobile work on s3 neo?
or kernel 3.4 is problem

[2020-05-20 17:17] Veisen commented on #122
every version of halium 7,8 and 9 do not boot on essential ...... i have problem with security every time

same problem as on pixel phones

[2020-05-21 05:23] wiredsis commented on #190
Calls are also working!

[2020-05-25 08:42] alfonsojon opened #196 "[device-port] [mata] Essential PH-1"
Tree: halium-7.1

- [x] [Create manifest](https://github.com/Halium/halium-devices/pull/230)
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [

[2020-05-25 10:14] alfonsojon commented on #196
Was successful in building the hybris-boot image, but building the system image is failing with
[code]

I checked [TheMuppets repo](https://github.com/TheMuppets/proprietary_vendor_essential/tree/cm-14.1/mata/proprietary/vendor/lib64) and found it does not, in fact, provide libril.so. Not sure where to go from here.

[2020-05-25 11:57] doniks commented on #196
There is already a mata port going on here: https://github.com/Halium/projectmanagement/issues/122 please collaborate in that issue. The guys there might have an answer to your build problem

[2020-05-25 11:57] #196 closed, assigned to nobody

[2020-05-25 17:06] SakiiCode commented on #181
Is this still active? I could compile things from @ubports-zeroltexx and flash them but couldn't get past the bootlogo

[2020-05-25 20:42] alfonsojon commented on #122
I am currently attempting a build using some cm-14.1 trees from InvisibleK but the rest from Lineage OS. I ran into an issue where it could not locate `java_library.mk`, so I symbolically linked it to `static_java_library.mk`. I was then able to build the boot image as well as hybris image. Currently working on pulling the proper proprietary files so building the system image is happy.

[2020-05-25 21:47] SakiiCode commented on #169
I could get to the bootloop part here is a guide if anyone interested

Check my repo for the files at https://github.com/SakiiCode/zeroltexx_ubuntu_touch

* Copy the manifest from [samsung_zeroltexx.xml](https://github.com/SakiiCode/zeroltexx_ubuntu_touch/blob/master/samsung_zeroltexx.xml)
* `./halium/devices/setup zeroltexx`
* `source build/envsetup.sh`
* `breakfast zeroltexx`
* Copy the kernel c

[2020-05-25 23:17] alfonsojon commented on #122
https://gist.github.com/alfonsojon/f8162c5f7b35346f23ae3711ff79e91f
Here's the list of files that the shell script could not locate on the factory Android 7.1.1 image. After using `adb shell` then `su`, it is able to find the files where they should be. Seems like I just need to figure out why it's not pulling files.

Edit: what is easiest is mounting the essential factory image after decompressin

[2020-05-26 02:07] alfonsojon commented on #122
I disabled verity compatibility in build/target/product/verity.mk, and am using TheMuppets vendor blobs as my phone seems to be missing some of them. Building system image now.

[2020-05-26 06:09] alfonsojon commented on #122
I succeeded in building system.img; however, I accidentally bricked my phone when flashing stock 7.1 using a low-quality USB cable. D'oh!

[2020-05-26 06:17] Veisen commented on #122
can you upload your images i can try it

[2020-05-26 06:56] Flohack74 commented on #41
I dont know of any successful port for the S3, sorry.

[2020-05-26 07:00] luka177 commented on #41
I mean s3 (not neo) hav good mainline support.
And i ask about plamo on ss NEO (s3ve3g), as you ported Halium. Mb you tryed that.

[2020-05-26 07:39] Flohack74 commented on #41
No, sorry, I focused only on Ubuntu Touch. Since Halium is not unified for PMOS and UT you basically need to port the device 2 times. They do not share the same kernel configuration, for example. Mainline support is well for S3, yes, but does still all Android hardware work with it? I have my doubts about using a mainline kernel. You will basically get gUI + WiFi, but network data + calls and anyt

[2020-05-26 09:01] alfonsojon commented on #122
[Link to hybris-boot.img](https://mega.nz/file/0s9gAQ7a#WIyCYoDx5LKjxWgg7jVi9t04TxS6LXtbbCbXd6lQFgs)
`sha256sum: ba620b2aa819dc1ada62bcb9c40994a32b8fbaf5167e2203975c4f45683c0fac`
[Link to system.img](https://mega.nz/file/ZhlixaQR#3Hnwbn_T2kBqfsj4UHpgj0rfhZvnRXvzxS0BxjY2R40)
`sha256sum: 0caf5147796d82c48d1b71f00c81e2d9a37c66ea0f123ee95c7bf4d95f462e37`

you still have to get the rootfs but those are

[2020-05-26 10:59] Veisen commented on #122
what is frimware base of your build ?

[2020-05-26 11:47] Veisen commented on #122
bootloops like on my builds

[2020-05-26 13:22] alfonsojon commented on #122
CM-14.1

[2020-05-29 06:09] luka177 commented on #41
Here you are wronk. Most hw work on mainline ok. Except barometr an bt

[2020-05-29 18:42] Flohack74 commented on #41
Well you are invited to do a port then ;)

[2020-05-30 06:13] EralpCelebi commented on #175
Hello, I'd love to participate in the testing of this!

[2020-05-30 14:13] dvkulesh commented on #119
Проект мёртв?

[2020-05-31 08:53] stefanomelchior commented on #44
To test Sony Xperia Z4 Tablet (karin o karin_windy) with UT: https://forums.ubports.com/topic/4351/porting-ubuntu-touch-ubports-to-karin-sony-xperia-z4-tablet-sgp771-and-karin_windy-sony-xperia-z4-tablet-sgp712

[2020-06-02 15:32] EralpCelebi commented on #175
So, I ported hybris-boot and managed to come to catch up with your progress, I am not really sure how to proceed tho.

If anybody wants for the system image or the boot image I can upload it.

[2020-06-02 19:16] luka177 commented on #41
Lol i dont have galaxy s3 (exynos, good mailine support), i have s3 neo (snapdragon, no mainline). So ...

[2020-06-03 19:38] gpenland commented on #175
I'd be happy to test it, if that would help!

[2020-06-03 21:33] Flohack74 commented on #41
Then you are invited to install my port and play a bit with it... ^^

[2020-06-06 18:58] wiredsis commented on #190
GPS was fixed in the latest GSI! I'll dedicate my time now into fixing mobile data.

[2020-06-06 21:21] patroldo opened #197 "Xiaomi mi a2 lite 3/32gb (codename: daisy)"
Tree:

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-06-12 09:25] bnajdov commented on #84
HI, I'm trying to build halium for ubports and everything builds without error, but when i try fastboot
boot halium-boot.img the device just boots into the normal android

when I flash the halium-boot to boot_a the device goes into bootloop and it does not show up in the host dmsg

any sugestions?

thanks

[2020-06-12 09:41] Herrie82 commented on #84
@bnajdov We did a very minimal port of Tissot for LuneOS, we don't use halium-boot/hybris-boot. Only the generated system.img on Android side. We build the kernel and boot image in our own build system using Yocto. As a result we don't have provided the fixup-mountpoints for Tissot. You would need to add it I guess: https://github.com/Halium/hybris-boot/blob/9b328155366e489cd6fca88862884f69adf7a16

[2020-06-12 16:03] uotlaf opened #198 "[device-port] [j5lte] [Halium-9.0] Samsung Galaxy J5 2015"
Tree:  Halium 9

- [x] Create manifest
- [x] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio

[2020-06-15 15:11] uotlaf commented on #198
CONFIG_SYSVIPC
CONFIG_VT
CONFIG_MODULES
CONFIG_DEVTMPFS
CONFIG_DEVTMPFS_MOUNT
CONFIG_AUTOFS4_FS
causes kernel panic/ device not boots. I will try implement pstore and ramoops in this kernel.

[2020-06-15 18:09] abkro commented on #48
With some help I have now located the problem that prevents sound. Some parts of audio_policy.conf need to be edited out. However, sound is still not as it should be, but the reason is that the device is operating at a sampling rate of 48 kHz whereas it should be operating at 44.1 kHz. I checked this and confirmed that sound is normal at this sampling rate, but have thus far not managed to make th

[2020-06-17 21:11] ghost opened #199 "[device-port] [payton] [Halium-9.0] Motorola Moto X4"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-06-20 09:14] ghost commented on #78
kinda off-topic, but huawei p8 lite has a working postmarketOS port now :tada:

https://wiki.postmarketos.org/wiki/Huawei_P8_Lite_(huawei-alice)

[2020-06-22 16:13] Tooniis commented on #187
May I get the kernel source you used and any required patches?

[2020-06-22 20:36] l3lackShark commented on #187
Sure! Good luck on completing the port.
[xiaomi_scorpio.txt](https://github.com/Halium/projectmanagement/files/4815481/xiaomi_scorpio.txt)

[2020-06-23 18:11] Tooniis commented on #187
Did you encounter something like this while building the kernel:

    ../drivers/scsi/ufs/ufs-qcom.c: At top level:
    ../drivers/scsi/ufs/ufs-qcom.c:2364:15: error: 'ufs_qcom_pm_qos_req_start' undeclared here (not in a function); did you mean 'ufs_qcom_pm_qos_state'?
     2364 |  .req_start = ufs_qcom_pm_qos_req_start,
          |               ^~~~~~~~~~~~~~~~~~~~~~~~~
          |

[2020-06-23 19:01] raphj opened #200 "Device port: kuntao (Lenovo p2a42)"
Tree: halium-7.1

- [X] Create manifest https://github.com/Halium/halium-devices/pull/233
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ]

[2020-06-26 19:50] unxcepted commented on #78
So i have successfully booted into ssh guys
![image](https://user-images.githubusercontent.com/28658966/85895423-fd6f7780-b7f6-11ea-88e2-bdf04648ab6c.png)

[2020-06-27 08:13] Aurnytoraink commented on #78
Wow! Good job!
Unfortunately, I lent my phone to a friend so I could take a test right now.

[2020-06-27 11:36] unxcepted commented on #78
![image](https://user-images.githubusercontent.com/28658966/85921237-25082380-b87b-11ea-9aa7-3320a1d1beb2.png)

[2020-06-27 16:03] Ozwald1 opened #201 "Huawei P8 Lite Alice"
Tree:

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] tes

[2020-06-27 16:46] ijiki16 commented on #201
Please look at this, if the issue is the same close this one. https://github.com/Halium/projectmanagement/issues/78#issuecomment-650548327

[2020-06-27 16:57] unxcepted commented on #78
So i have enabled DEVPTS_MULTIPLE_INSTANCES, and done config check, now i'm stuck at this weird panic.
Device shows in dmesg as GNU/LINUX, it's visible in ip a, but i can't connect to ssh. After a ~minute it reboots. https://paste.ubuntu.com/p/9XrdRFSfMD/
Any ideas?

[2020-06-27 18:58] oceanmar commented on #78
What kernel are u using?

[2020-06-27 21:47] #201 closed, assigned to nobody

[2020-06-28 05:39] doniks commented on #78
I removed the note that the port was "abandoned". The issue is about the port and not about the porter

[2020-06-28 06:39] Duhjoker opened #202 "Project Lge Aristo 2 with Halium 7.1"
Tree:

- [x ] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [ ] te

[2020-06-28 06:51] Ozwald1 commented on #78
Can I find latest Manifst, Mountpoint's and Kernel confics, those @unxcepted were used? I created those myself from scratch (because though that issue were abandoned) but now I'm stuck on compile errors...

[2020-06-28 08:16] unxcepted commented on #78
I need to clean up the mess in code, then i will send it here today

[2020-06-28 11:00] unxcepted commented on #78
https://github.com/unxcepted/halium_kernel_huawei_alice
[huawei_alice.zip](https://github.com/Halium/projectmanagement/files/4842112/huawei_alice.zip)
Here are the manifest and kernel sources. It won't boot, but if you want to just disable CONFIG_DEVPTS_MULTIPLE_INSTANCES
We need to investigate why it breaks the kernel, because without it LXC is not working.
As i said before device is visible, but

[2020-06-28 11:06] unxcepted commented on #78
Also, could anyone assign me to this issue, so i can modify the task list?

[2020-06-28 11:11] unxcepted commented on #78
I still can't. Maybe it doesn't work that way, never mind

[2020-06-28 11:16] doniks commented on #78
mhm. I thought it would work. If you want you could make a new overview post here and I replace the content in the original post with a link to your new post

[2020-06-28 11:36] unxcepted commented on #78
Interesting, without namespaces, but with DEVPTS_MULTIPLE_INSTANCES it boots too.

[2020-06-28 11:56] unxcepted commented on #78
![image](https://user-images.githubusercontent.com/28658966/85946784-26068700-b947-11ea-8b73-416da0b48ef2.png)

[2020-06-28 18:31] Hinokami-Kagura opened #203 "[device-port] [j6primelte] [Halium-9.0] Samsung Galaxy J6+"
Tree: [halium-9.0]
https://gitlab.com/j6primelte-halium/android_kernel_j6primelte_arm64
https://gitlab.com/j6primelte-halium/device_tree_samsung_msm8917_j6primelte_aarch64
https://gitlab.com/j6primelte-halium/vendor_samsung_j6primelte

- [x] Create manifest
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg`

[2020-06-30 06:54] lubosve commented on #76
Great work! Is the work still in progress? Do you have any updates please?

[2020-06-30 07:24] slowcyclist commented on #98
Hi all,
When running test_sensors with no arguments, it lists 29 sensors, but if I run it with a sensor index as argument, I actually get sensor data only for sensor #0 (accelerometer), which is odd. In particular, I wonder why I get no data from the magnetometer since it was working in Sailfish (I did not run test_sensors in Sailfish, though).
Does anyone have an idea of what could be wrong?

[2020-07-01 17:17] Ozwald1 commented on #78
Now I guess,I've been hitting my head to the wall long enough.. I'm getting "ninja: error: /home/ossi/halium/out/build-lineage_alice.ninja:121674: multiple rules generate /home/ossi/halium/out/target/product/alice/system/lib/hw/hwcomposer.hi6210sft.so [-w dupbuild=err]" when trying to build mkbootimg with @unxcepted 's manifest..

If I use my own manifest (where could, and indeed there must be, er

[2020-07-01 18:57] unxcepted commented on #78
It's good, just enable network and connect with ssh.. Display is just not working yet

[2020-07-01 20:47] unxcepted commented on #78
also @Ozwald1 could you give me your manifest?

[2020-07-01 20:50] Ozwald1 commented on #78
Well, this is uncleaned, but latest..

`<?xml version="1.0" encoding="UTF-8"?>
<manifest>
    <remote name="Huawei-P8-Lite"
            fetch="https://github.com/Huawei-P8-Lite" />

    <remote name="DarkJoker360"
            fetch="https://github.com/DarkJoker360" />

    <remote name="nnof"
            fetch="https://github.com/SuperDroidBond"/>

    <remote name="unx"
            fetch="https:/

[2020-07-01 21:01] Ozwald1 commented on #78
[huawei_alice.zip](https://github.com/Halium/projectmanagement/files/4860518/huawei_alice.zip)

Well, this is uncleaned, but current..

[2020-07-02 07:21] Hinokami-Kagura commented on #203
Seems if didn't have the vendor.img, can create the vendor.img in halium-9 source... (P.S. must confirm that the source is okey in LOS 16.0...)

[2020-07-02 11:09] ZedDoesCoding opened #204 "[device-port] [guacamole] [Halium-9.0] Oneplus 7 Pro"
Tree: halium-9
manifest: https://github.com/ZedDoesCoding/guacamole.halium9/blob/master/oneplus_guacamole.xml
Vendor: https://github.com/AndroidBlobs/vendor_oneplus_OnePlus7Pro

- [x] Create manifest
- [ ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [

[2020-07-02 19:25] kodowiec commented on #137
ok so I forked your repos (and [modified manifest](https://github.com/kodowiec/d802_local_manifest/blob/master/lge_d802.xml)) and so far with little modifications my progress with halium-7.1 and halium rootfs is:

- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does

[2020-07-03 01:21] memiks commented on #188
Hi @Danct12 ,

Do you have a git repository to retrieve your current work ? I would like to help if I can.

Thanks,
Memiks.

[2020-07-03 10:43] fredldotme commented on #98
I believe Sailfish is using sensorfw as sensor middleware, whereas with UT on suzu we're still using the old Canonical way of doing things through platform-api.

We're using sensorfw for Halium 9 based ports already, but it's conflicting with platform-api. Therefore Halium 9 based ports use a slightly modified variant of the rootfs. I'm not sure how much work it would be to make the standard rootf

[2020-07-03 14:48] slowcyclist commented on #98
Hmm. The magnetometer sensor is listed as "AK09915", and when I looked at sensorfw code it seemed to me those natively implemented are ak897X. So, I was guessing that Sailfish was getting the Xperia X magnetometer data using sensorfw's hybrismagnetometeradaptor. Indeed libhybris sensors are not far to fully work in your port since many devices are identified. Using strace on test_sensor, it seems

[2020-07-03 16:48] Ozwald1 commented on #78
Looks like I managed to susseeded now boot without panic, but I can't get telnet, thus nor ssh, work. I can see from logs, it was booted, and if I mount rootfs image, I can see system actually has been running there (there is more logs). Lxc was not still started... But, the question was: Any idea why telnet won't wake up? It might be also network prop too, since phone doesn't answer ping neither

[2020-07-05 01:21] Darin755 commented on #50
I am trying to build halium for potter. I downloaded the source and changed out the potter-vendor.mk and the android.mk files. The system.img built successfully but the hybris-boot.img did not. The error was potter does not have mountpoint fixup data. Does anyone know how to fix this?

[2020-07-05 15:42] JAIMINHO1337 commented on #130
is this usable? can i test for you? do you need help?

[2020-07-05 17:40] Rajssss commented on #130
Wait for few more weeks..... Will let you know, there are many others who also want to test/help.
Actually @nanu-c is no more interested in it, but I was working on it from where he left.
Due to situations created by COVID, I can't proceed at the moment.

[2020-07-05 17:53] JAIMINHO1337 commented on #130
ok, thanks.

[2020-07-06 17:40] ghost commented on #78
@unxcepted now that there is a (semi-) working version, will you make a PR to get this merged? :smiley:

[2020-07-07 13:17] fredldotme commented on #98
For the magnetometer to work on UT you'd either have to implement the feature in what we have already, or make it possible to run sensorfw on the Xperia X + all core devices that UBports supports. I'm not sure though if supporting all core devices using sensorfw would even be possible as we don't have access to some of the device trees (they were proprietary when Canonical worked with those vendor

[2020-07-07 16:26] MrCyjaneK opened #205 "[device-port] [fajita] [Halium-9.0] OnePlus 6T"
Tree: Halium-9.0

- [x] Create manifest https://github.com/Halium/halium-devices/pull/236
- [x] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash - Only on GSI when I'm trying to build device specific system.img it crashes.
- [ ] libhybris tests
  * [ ] test_

[2020-07-07 22:54] radunanescu commented on #152
Any news? i kinda wanna make this for fun

[2020-07-08 18:59] nononymousse commented on #34
No sorry, i have tried to compile but he failed and i didn't found why. Plus my g3 died :c

[2020-07-08 19:30] enesutku07 commented on #197
please send file or link

[2020-07-08 19:35] Ozwald1 commented on #78
Finally succeeded compile with @unxcepted 's manifest. The result is slightly better than earlier (my manifest above is not right btw, looks like I've messed with copies of it and actually lost right one :( ). Looks like it boots pretty well, many things seems to work, although many doesn't.. USB still won't work, so no network connection still..

var/log/kern.log inside rootfs.img: https://paste.

[2020-07-08 19:36] enesutku07 commented on #198
open system? please ı use j5lte. but dont use ubports.

[2020-07-08 21:01] patroldo commented on #197
@enesutku07
[Manifest](https://github.com/Halium/halium-devices/blob/ee6ef92e1cf3bf383c85c7929292079b4c5a1a71/manifests/xiaomi_daisy.xml)

[2020-07-10 17:24] benclarkk commented on #152
@radunanescu my y6 got cucked a while ago, but if you want to figure out yourself, go ahead!

[2020-07-10 17:33] Ozwald1 commented on #78
@unxcepted sorry spamming, but can you please when you have time send your alice_defconf, and if possible pastebin of your kern.log.. Still suffering with my USB... :(

[2020-07-10 17:35] unxcepted commented on #78
Sure, i'm still working on a config, will send it tommorow

[2020-07-10 17:36] unxcepted commented on #78
I have floating point exceptions everywhere

[2020-07-10 17:37] Ozwald1 commented on #78
Ok.. Would help to investigate other probs if I could manage ssh conn..

[2020-07-10 18:57] Bluppie05 commented on #152
BRO, Why didn't you respond to my messages?

[2020-07-11 11:43] unxcepted commented on #78
[alice_defconfig.zip](https://github.com/Halium/projectmanagement/files/4906702/alice_defconfig.zip)

[2020-07-12 21:35] radunanescu commented on #152
Do you still have the manifest?

[2020-07-13 16:41] benclarkk commented on #152
nah, i don't think it even worked in the first place. i put it somewhere on github but i think i deleted it in my annual spring cleaning.

[2020-07-14 12:19] unxcepted commented on #78
Seems that the FPUs are fault of 32bit reference rootfs(we have 64bit kernel), i'm going to try ubuntu touch

[2020-07-14 14:05] unxcepted commented on #78
UBtouch just reboots with this log: https://paste.ubuntu.com/p/pTXDqjhcvC/
before reboot i can go in ssh and watch dmesg, i think i need help with this

[2020-07-14 17:24] Ozwald1 commented on #78
I'm still stuck with my USB port.. Actually situation got even worst, now I can't see even the interface with dmesg...

[2020-07-18 15:13] andrewmusselman commented on #174
Any further progress? Was thinking about porting for a Pixel 3a.

[2020-07-18 17:23] nergzd723 commented on #198
I've got halium-boot to work on j53gxx

[2020-07-19 05:55] malojjj opened #206 "Redmi 5A (riva)"
Tree:

- [yes ] Create manifest
- [yes ] Boot image and system image build successfully
- [ ] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [ ] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [ ] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio
  * [

[2020-07-19 06:03] malojjj commented on #206
При сборки были проблемы:
1. конфиг ядра изменил  ./halium/halium-boot/check-kernel-config /home/malojjj/halium/kernel/xiaomi/msm8917/arch/arm64/configs/riva_defconfig -w
2.в манифест внес дополнительно  ветку rolexа  <project path="vendor/xiaomi/rolex" name="android_vendor_xiaomi_rolex" remote="areyoudeveloper1" /> так как требовались дополнительные пропиретарные модули, в моей ветке не было но т

[2020-07-19 09:41] ghost commented on #78
Did you ask ubuntu touch or the hybris community for help? Can't be that this port is the only one with this kind of problem.

Maybe ask in pmOS chat, there are some hybris ports as well: https://wiki.postmarketos.org/wiki/Hybris

[2020-07-19 11:48] malojjj commented on #206
Fatality! После прошивки не запускается ни в какую.

[2020-07-19 12:10] hacker1024 opened #207 "[device-port] [raphael] [Halium-9.0] Xiaomi Redmi K20 Pro"
Tree: halium-9.0

- [ ] Create manifest
- [ ] Boot image and system image build successfully
- [x] Device boots into rootfs, `usb: Manufacturer: GNU/Linux Device` appears in `dmesg` on host.
- [x] LXC container starts and does not crash
- [ ] libhybris tests
  * [ ] test_gps
  * [ ] test_hwcomposer
  * [x] test_lights
  * [ ] test_vibrator
  * [ ] test_wifi
  * [ ] test_sensors
  * [ ] test_audio

[2020-07-20 08:36] fredldotme commented on #98
@slowcyclist Seems magnetometer sensor support was in development but never merged in the Canonical days. We're reviving it: https://github.com/ubports/platform-api/pull/8

[2020-07-20 08:53] adazem009 opened #208 "[device-port] [Z00ED] [Halium-7.1] Asus Zenfone 2 Laser (Z00ED)"
Tree: https://github.com/ubports-z00e/android_device_asus_Z00ED, https://github.com/ubports-z00e/android_device_asus_msm8916-common
Kernel: https://github.com/ubports-z00e/android_kernel_asus_msm8916

- [x] Create manifest
Link to manifest: https://github.com/Halium/halium-devices/blob/halium-7.1/manifests/asus_Z00ED.xml
Link to pull request: [merged]
- [x] Boot image and system image build succes